@forward "src/variables";
@forward "src/channel-list.scss";
@forward "src/chat.scss";
@forward "src/connections.scss";
@forward "src/friends.scss";
@forward "src/member-list.scss";
@forward "src/profile.scss";
@forward "src/server-list.scss";
@forward "src/settings.scss";

@import "https://metro420yt.github.io/misc/discordRefreshWarning.css";
:root {
  --visRefresh-text: "[Comfy] Work In Progress";
}
