@import "https://metro420yt.github.io/misc/discordRefreshWarning.css";
:root .avatar__44b0c,
:root .avatar_c19a55,
:root .avatar__07f91,
:root .avatar_f9d668,
:root .overlay__75742:after,
:root .voiceAvatar_f910d0,
:root .border_f910d0,
:root .avatarSpeaking__44b0c {
  border-radius: var(--avatar-radius);
}
:root .mask__44b0c foreignObject,
:root .wrapper_cc5dd2 foreignObject,
:root .callAvatarMask_f910d0 foreignObject {
  mask: unset;
}
:root .horizontalReverse__7c0ba,
:root .option__66e7e,
:root .footer__6c12c {
  background-color: var(--background-secondary);
}
:root .tooltip__382e7 {
  background-color: var(--background-secondary-alt);
}
:root .title_c38106, :root .sidebar_c48ade {
  background-color: var(--background-tertiary);
}

.theme-darker,
.theme-dark,
.visual-refresh .theme-darker,
.visual-refresh.theme-darker,
.visual-refresh .theme-dark,
.visual-refresh.theme-dark {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #6e85d3;
  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --toast-background: #1e2233 !important;
  --toast-header: #101320 !important;
  --toast-contents: #23283d !important;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}

.theme-light {
  --background-modifier-hover: #262b41;
  --background-modifier-active: #262b41;
  --header-primary: #fff;
  --header-secondary: #b1b5b9;
  --text-normal: #8e9297;
  --interactive-active: #fff;
  --interactive-hover: #b1b5b9;
  --input-background: var(--background-secondary-alt);
}

:root .container__2637a {
  background-color: var(--background-secondary);
}
:root .sidebar_c48ade {
  overflow: visible;
  max-height: 100vh;
}
:root .sidebar_c48ade::after {
  all: unset;
}
:root .panels_c48ade {
  z-index: 1;
  background: none;
  border: none;
  left: 0;
  bottom: 0;
  width: calc(100% - 72px);
  margin-left: 72px;
  background-color: var(--background-secondary);
}
:root .panels_c48ade .container__37e49 {
  all: unset;
}
:root .panels_c48ade .container__37e49 .nameTag__37e49 {
  display: none;
}
:root .wrapper__44df5 {
  background-color: var(--background-secondary);
}
:root .popout_8514, :root .popout__76f04 {
  background-color: var(--background-secondary-alt);
}

:root .chatContent_f75fb0 {
  background-color: var(--background-primary);
}
:root .chatContent_f75fb0 .form_f75fb0 {
  z-index: 2;
  width: calc(100% - 66px);
  margin-left: auto;
}
:root .chatContent_f75fb0 .form_f75fb0 .channelTextArea_f75fb0,
:root .chatContent_f75fb0 .form_f75fb0 .scrollableContainer__74017,
:root .chatContent_f75fb0 .form_f75fb0 .stackedBars__74017 {
  background-color: var(--background-secondary-alt);
}
:root .chatContent_f75fb0 .form_f75fb0 .buttons__74017 svg,
:root .chatContent_f75fb0 .form_f75fb0 .attachButtonInner__0923f svg {
  color: var(--chat-buttons);
}
:root .chatContent_f75fb0 .autocompleteInner__13533, :root .chatContent_f75fb0 .wrapper_f7ecac {
  background-color: var(--background-secondary);
}
:root .chatContent_f75fb0 .wrapper_d852db,
:root .chatContent_f75fb0 .wrapper_fc8177 {
  background-color: inherit;
}
:root .title_f75fb0 {
  background-color: var(--background-secondary);
}
:root .container_f369db {
  background-color: var(--background-primary);
}
:root .container_f369db .headerRow_f369db .header_f369db {
  background-color: var(--background-secondary-alt);
}
:root .container_f369db .card_f369db .container_faa96b {
  background-color: var(--background-secondary);
}
:root .container__34c2c {
  background-color: var(--background-secondary);
}
:root .resizeHandle__01ae2 {
  background-color: var(--background-secondary-alt);
}
:root .panels_c48ade .avatarWrapper__37e49 .avatar__37e49 {
  display: none;
  position: absolute;
  left: calc(100% + 10px);
  bottom: 25px;
  z-index: 1;
  margin: 0;
  padding: 0;
}
:root .scrollableContainer__74017 {
  background-color: var(--background-secondary);
}
:root :has(.form_f75fb0) .avatarWrapper__37e49 .avatar__37e49 {
  display: block;
}
:root .wrapper_d5f3cd,
:root .grid__623de {
  background-color: var(--background-secondary);
}
:root .menu_c1e9c4 {
  background-color: var(--background-secondary);
}

:root .connectionIcon_c7f964[alt="Battle.net"],
:root .accountBtnInner__750de[aria-label="Battle.net"],
:root .accountButtonInner_c7f964[aria-label="Battle.net"],
:root .connectedAccountIcon_e6abe8[aria-label="Battle.net"] {
  background-color: rgba(29, 160, 242, 0.2823529412);
}
:root .connectionIcon_c7f964[alt=Twitch],
:root .accountBtnInner__750de[aria-label=Twitch],
:root .accountButtonInner_c7f964[aria-label=Twitch],
:root .connectedAccountIcon_e6abe8[aria-label=Twitch] {
  background-color: rgba(96, 27, 216, 0.3215686275);
}
:root .connectionIcon_c7f964[alt=YouTube],
:root .accountBtnInner__750de[aria-label=YouTube],
:root .accountButtonInner_c7f964[aria-label=YouTube],
:root .connectedAccountIcon_e6abe8[aria-label=YouTube] {
  background-color: rgba(217, 37, 43, 0.2862745098);
}
:root .connectionIcon_c7f964[alt=Twitter],
:root .accountBtnInner__750de[aria-label=Twitter],
:root .accountButtonInner_c7f964[aria-label=Twitter],
:root .connectedAccountIcon_e6abe8[aria-label=Twitter] {
  background-color: rgba(0, 152, 228, 0.2470588235);
}
:root .connectionIcon_c7f964[alt=X],
:root .accountBtnInner__750de[aria-label=X],
:root .accountButtonInner_c7f964[aria-label=X],
:root .connectedAccountIcon_e6abe8[aria-label=X] {
  background-color: #000000;
}
:root .connectionIcon_c7f964[alt=Steam],
:root .accountBtnInner__750de[aria-label=Steam],
:root .accountButtonInner_c7f964[aria-label=Steam],
:root .connectedAccountIcon_e6abe8[aria-label=Steam] {
  background-color: rgba(0, 0, 0, 0.2039215686);
}
:root .connectionIcon_c7f964[alt=Reddit],
:root .accountBtnInner__750de[aria-label=Reddit],
:root .accountButtonInner_c7f964[aria-label=Reddit],
:root .connectedAccountIcon_e6abe8[aria-label=Reddit] {
  background-color: rgba(254, 68, 1, 0.2392156863);
}
:root .connectionIcon_c7f964[alt=Facebook],
:root .accountBtnInner__750de[aria-label=Facebook],
:root .accountButtonInner_c7f964[aria-label=Facebook],
:root .connectedAccountIcon_e6abe8[aria-label=Facebook] {
  background-color: rgba(46, 50, 132, 0.5215686275);
}
:root .connectionIcon_c7f964[alt=Spotify],
:root .accountBtnInner__750de[aria-label=Spotify],
:root .accountButtonInner_c7f964[aria-label=Spotify],
:root .connectedAccountIcon_e6abe8[aria-label=Spotify] {
  background-color: rgba(30, 215, 95, 0.2039215686);
}
:root .connectionIcon_c7f964[alt=Xbox],
:root .accountBtnInner__750de[aria-label=Xbox],
:root .accountButtonInner_c7f964[aria-label=Xbox],
:root .connectedAccountIcon_e6abe8[aria-label=Xbox] {
  background-color: rgba(93, 194, 30, 0.2117647059);
}
:root .connectionIcon_c7f964[alt="League of Legends"],
:root .accountBtnInner__750de[aria-label="League of Legends"],
:root .accountButtonInner_c7f964[aria-label="League of Legends"],
:root .connectedAccountIcon_e6abe8[aria-label="League of Legends"] {
  background-color: rgba(206, 161, 70, 0.2196078431);
}
:root .connectionIcon_c7f964[alt=GitHub],
:root .accountBtnInner__750de[aria-label=GitHub],
:root .accountButtonInner_c7f964[aria-label=GitHub],
:root .connectedAccountIcon_e6abe8[aria-label=GitHub] {
  background-color: rgba(36, 41, 46, 0.3843137255);
}
:root .connectionIcon_c7f964[alt=Skype],
:root .accountBtnInner__750de[aria-label=Skype],
:root .accountButtonInner_c7f964[aria-label=Skype],
:root .connectedAccountIcon_e6abe8[aria-label=Skype] {
  background-color: rgba(0, 118, 215, 0.2941176471);
}
:root .connectionIcon_c7f964[alt="Epic Games"],
:root .accountBtnInner__750de[aria-label="Epic Games"],
:root .accountButtonInner_c7f964[aria-label="Epic Games"],
:root .connectedAccountIcon_e6abe8[aria-label="Epic Games"] {
  background-color: rgba(47, 47, 47, 0.3490196078);
}
:root .connectionIcon_c7f964[alt="Riot Games"],
:root .accountBtnInner__750de[aria-label="Riot Games"],
:root .accountButtonInner_c7f964[aria-label="Riot Games"],
:root .connectedAccountIcon_e6abe8[aria-label="Riot Games"] {
  background-color: rgba(235, 28, 45, 0.2196078431);
}
:root .connectionIcon_c7f964[alt=PayPal],
:root .accountBtnInner__750de[aria-label=PayPal],
:root .accountButtonInner_c7f964[aria-label=PayPal],
:root .connectedAccountIcon_e6abe8[aria-label=PayPal] {
  background-color: rgba(0, 159, 227, 0.231372549);
}
:root .connectionIcon_c7f964[alt=TikTok],
:root .accountBtnInner__750de[aria-label=TikTok],
:root .accountButtonInner_c7f964[aria-label=TikTok],
:root .connectedAccountIcon_e6abe8[aria-label=TikTok] {
  background-color: rgba(100, 191, 197, 0.2745098039);
}
:root .connectionIcon_c7f964[alt=eBay],
:root .accountBtnInner__750de[aria-label=eBay],
:root .accountButtonInner_c7f964[aria-label=eBay],
:root .connectedAccountIcon_e6abe8[aria-label=eBay] {
  background-color: rgba(197, 0, 0, 0.231372549);
}
:root .connectionIcon_c7f964[alt="PlayStation Network"],
:root .accountBtnInner__750de[aria-label="PlayStation Network"],
:root .accountButtonInner_c7f964[aria-label="PlayStation Network"],
:root .connectedAccountIcon_e6abe8[aria-label="PlayStation Network"] {
  background-color: rgba(0, 81, 174, 0.3254901961);
}
:root .connectionIcon_c7f964[alt=Instagram],
:root .accountBtnInner__750de[aria-label=Instagram],
:root .accountButtonInner_c7f964[aria-label=Instagram],
:root .connectedAccountIcon_e6abe8[aria-label=Instagram] {
  background-color: rgba(175, 1, 182, 0.2509803922);
}
:root .connectionIcon_c7f964[alt=Roblox],
:root .accountBtnInner__750de[aria-label=Roblox],
:root .accountButtonInner_c7f964[aria-label=Roblox],
:root .connectedAccountIcon_e6abe8[aria-label=Roblox] {
  background-color: rgba(182, 191, 204, 0.2509803922);
}
:root .connectionIcon_c7f964[alt=Crunchyroll],
:root .accountBtnInner__750de[aria-label=Crunchyroll],
:root .accountButtonInner_c7f964[aria-label=Crunchyroll],
:root .connectedAccountIcon_e6abe8[aria-label=Crunchyroll] {
  background-color: rgba(243, 117, 33, 0.3019607843);
}
:root .connectionIcon_c7f964[alt="Bungie.net"],
:root .accountBtnInner__750de[aria-label="Bungie.net"],
:root .accountButtonInner_c7f964[aria-label="Bungie.net"],
:root .connectedAccountIcon_e6abe8[aria-label="Bungie.net"] {
  background-color: rgba(0, 163, 227, 0.3254901961);
}
:root .connectionIcon_c7f964[alt="Amazon Music"],
:root .accountBtnInner__750de[aria-label="Amazon Music"],
:root .accountButtonInner_c7f964[aria-label="Amazon Music"],
:root .connectedAccountIcon_e6abe8[aria-label="Amazon Music"] {
  background-color: rgba(13, 191, 245, 0.3254901961);
}
:root .connectionIcon_c7f964[alt=Bluesky],
:root .accountBtnInner__750de[aria-label=Bluesky],
:root .accountButtonInner_c7f964[aria-label=Bluesky],
:root .connectedAccountIcon_e6abe8[aria-label=Bluesky] {
  background-color: rgba(10, 81, 154, 0.3294117647);
}

:root .tabBody__133bf {
  background-color: var(--background-primary);
}
:root .container__7d20c {
  background-color: var(--background-secondary);
}
:root .privateChannels__35e86 {
  background-color: var(--background-secondary);
}
:root .scroller__99e7c {
  background-color: inherit;
}
:root .container__9293f {
  background-color: var(--background-secondary);
}
:root .itemCard__7e549 {
  background-color: var(--background-secondary-alt);
}

:root .members_c8ffbb {
  background-color: var(--background-secondary);
}
:root .members_c8ffbb .member__5d473:not(.wrapperPlated__91a9d) {
  background-color: var(--background-secondary);
}

:root .mask__68edb > mask {
  display: none;
}
:root .inner_c0bea0 {
  background-color: var(--background-primary);
}
:root .inner_ab8609,
:root .outer_ab8609 {
  background-color: var(--background-secondary);
}

:root .guilds_c48ade {
  background-color: var(--background-tertiary);
}
:root .guilds_c48ade .listItem__650eb .icon__6e9f8,
:root .guilds_c48ade .listItem__650eb .folderIconWrapper__48112,
:root .guilds_c48ade .listItem__650eb .childWrapper__6e9f8 {
  border-radius: var(--server-radius);
}
:root .guilds_c48ade .listItem__650eb .closedFolderIconWrapper__48112 .icon_f34534 {
  border-radius: var(--server-radius) !important;
}
:root .buttons__37e49 {
  position: fixed;
  width: 72px;
  background: var(--background-tertiary);
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  gap: var(--user-buttons-spacing);
}
:root .buttons__37e49 button {
  width: 100%;
  color: var(--user-buttons-color);
  margin: 0;
}

:root .contentRegionScroller__23e6b {
  background-color: var(--background-primary);
}
:root .sidebarRegionScroller__23e6b,
:root .cardPrimary__73069,
:root .vc-addon-card,
:root .box_f8c98c,
:root .authedAppV2__50a54,
:root .connectContainer_c7f964,
:root .connection_c7f964 {
  background-color: var(--background-secondary);
}
:root .connectionHeader_c7f964,
:root .headerV2__50a54 {
  background-color: var(--background-secondary-alt);
}

:root .chat_f75fb0,
:root .pageBody__41ed7 {
  background-color: var(--background-primary) !important;
}
:root .prompt__5d7c9,
:root .channelRow_e4503a {
  background-color: var(--background-secondary);
}

:root {
  --visRefresh-text: "[Comfy] Work In Progress";
}