:root {
  //   .activityProfileV2_c1d9fd, //wtf is this class
  .body_b8cc6d .activity_b8cc6d, //member list popout
  .body_a972fe .card_ae1fa2, //dm profile sidebar
  .body_ad5fac .card_ae1fa2, //client user profile
  .section_ba4d80:first-child > .card_ae1fa2 // full profile
  {
    border-radius: 5px;
    padding-top: 12px;
    margin-top: 12px;
    z-index: 1;

    .text_ec2fa7,
    .textRow_c1d9fd,
    .anchor_af404b,
    .headerText_c1d9fd,
    .activityName_c1d9fd,
    .details_c1d9fd,
    .name_c1d9fd,
    .nameNormal_c1d9fd,
    .nameWrap_c1d9fd,
    [style^="color: var(--text-"] {
      color: var(--header-primary) !important;
    }

    .contextMenu_ae1fa2 > svg > path, //3 dots
    .badgeContainer_d60c6d:not(:has(.timestamp_c5d1c1)) > svg > path {
      //icons other than time played (hopefully)
      fill: var(--header-primary);
    }

    .platformIcon_ae1fa2 {
      background-color: var(--header-primary);
    }

    .button_dd4f85 {
      border: none;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 15px #00000021;
      color: #fff;
      border-radius: 8px;
    }

    .header_ae1fa2 > * {
      top: 0;
      position: absolute;

      &.headerTags_ae1fa2 {
        right: 8px;
      }
    }

    // Waves are back :D
    .header_ae1fa2::before {
      content: "";
      position: absolute;
      height: 25px;
      z-index: 1;
      width: 100%;
      top: -25px;
      left: 0;
      background: var(--background-secondary);
      background: var(--profile-gradient-primary-color);
      -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
      animation: animate2 8s linear infinite;
      animation-delay: 0s;
      opacity: 1;

      @keyframes animate2 {
        0% {
          -webkit-mask-position-x: 284px;
        }
        100% {
          -webkit-mask-position-x: 0;
        }
      }
    }

    // Wave
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;

      background: #7289da;
      background: var(--playing);
    }

    &::before {
      height: 100%;
      z-index: -2;
      top: 0;
      border-radius: 0 0 10px 10px;
    }

    &::after {
      height: 25px;
      z-index: 2;
      top: -24px;
      -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
      animation: animate 6s linear infinite;
      animation-delay: 0s;
      opacity: 1;

      @keyframes animate {
        0% {
          -webkit-mask-position-x: 0;
        }
        100% {
          -webkit-mask-position-x: 284px;
        }
      }
    }

    // Spotify
    &:has(.bar_b5cd55) {
      &::before {
        background: #1db954;
        background: var(--listening);
      }
      &::after {
        background: #1db653;
        background: var(--listening);
      }
    }

    //twitch
    &:has([src*="/previews-ttv/"]) {
      &::before,
      &::after {
        background: #6441a5;
        background: var(--streaming);
      }
    }

    //playstation
    &:has(.platformIcon_ae1fa2[style*="/assets/8fca7fcefaac64787658.svg"]) {
      &::before,
      &::after {
        background: #0070d1;
      }
    }

    //crunchyroll
    &:has(.platformIcon_ae1fa2[style*="/assets/24ff5d6c720b110d2792.svg"]) {
      &::before,
      &::after {
        background: #f37521;
      }
    }
  }
}
