$activities: (
  // spotify
  ".bar__8e51c": var(--listening, #1db954),
  // twitch
  '[src*="/previews-ttv/"]': var(--streaming, #6441a5),
  // playstation
  '.platformIcon__39ec2[style*="/assets/8fca7fcefaac64787658.svg"]': #0070d1,
  // crunchyroll
  '.platformIcon__39ec2[style*="/assets/24ff5d6c720b110d2792.svg"]': #f37521,
  // xbox
  '.platformIcon__39ec2[style*="/assets/615f68d5bcf31afdd2ce.svg"]': #107c10
);

:root {
  .card__39ec2 {
    border-radius: 5px;
    padding-top: 12px;
    margin-top: 12px;
    z-index: 1;

    .text_c8b06d,
    .textRow__2ef49,
    .anchor_edefb8,
    .headerText__2ef49,
    .activityName__2ef49,
    .details__2ef49,
    .name__2ef49,
    .nameNormal__2ef49,
    .nameWrap__2ef49,
    [style^="color: var(--text-"] {
      color: var(--header-primary) !important;
    }

    .contextMenu__39ec2 > svg > path, //3 dots
    .badgeContainer__635ed:not(:has(.timestamp__230d2)) > svg > path {
      //icons other than time played (hopefully)
      fill: var(--header-primary);
    }

    .platformIcon__39ec2 {
      background-color: var(--header-primary);
    }

    .button__201d5 {
      border: none;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 15px #00000021;
      color: #fff;
      border-radius: 8px;
    }

    .header__39ec2 > * {
      top: 0;
      position: absolute;

      &.headerTags_ae1fa2 {
        right: 8px;
      }
    }

    // Waves are back :D
    .header__39ec2::before {
      content: "";
      position: absolute;
      height: 25px;
      z-index: 1;
      width: 100%;
      top: -25px;
      left: 0;
      background: var(--background-secondary);
      background: var(--profile-gradient-primary-color);
      -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
      animation: animate2 8s linear infinite;
      animation-delay: 0s;
      opacity: 1;

      @keyframes animate2 {
        0% {
          -webkit-mask-position-x: 284px;
        }
        100% {
          -webkit-mask-position-x: 0;
        }
      }
    }

    // Wave
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;

      background: #7289da;
      background: var(--playing);
    }

    &::before {
      height: 100%;
      z-index: -2;
      top: 0;
      border-radius: 0 0 10px 10px;
    }

    &::after {
      height: 25px;
      z-index: 2;
      top: -24px;
      -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
      animation: animate 6s linear infinite;
      animation-delay: 0s;
      opacity: 1;

      @keyframes animate {
        0% {
          -webkit-mask-position-x: 0;
        }
        100% {
          -webkit-mask-position-x: 284px;
        }
      }
    }

    @each $selector, $color in $activities {
      &:has(#{$selector}) {
        &::before {
          background: $color;
        }
        &::after {
          background: $color;
        }
      }
    }
  }
}
