:root {
  // Messages buttons
  .buttons__5126c {
    transition: opacity 150ms;
  }

  // Avatar of the user
  .panels_c48ade > .container__37e49 .avatarWrapper__37e49 {
    position: fixed;
    bottom: 26.5px;
    left: 327.5px;
    z-index: 2;
    margin: 0;
    padding: 0;
    min-width: unset;

    & > .avatar__37e49 {
      width: 40px !important;
      height: 40px !important;

      & > svg {
        contain: unset;
      }

      foreignObject {
        width: 100% !important;
        height: 100% !important;
      }

      .pointerEvents__44b0c {
        x: 31px;
        y: 31px;
        ry: var(--status-radius);
        width: 12px;
        height: 12px;
      }

      &:hover {
        opacity: 1;
      }
      & + .nameTag__37e49 {
        display: none;
      }
    }
  }

  // Hiding avatar
  .content_c48ade > .container__133bf,
  .callContainer__722ff,
  .gatedContent__7184c,
  .chat_f75fb0
    > .content_f75fb0
    > .container_f369db
    > .list_f369db[data-list-id^="forum-channel-list"],
  .chat_f75fb0 > .content_f75fb0 > .pageContainer__09fde,
  .forumOrHome__49676 + .content_f75fb0 > .container__93316,
  .container__0b563,
  .background__7449f,
  .page_c791b2 {
    z-index: 2;
  }

  .chat_f75fb0
    > .content_f75fb0
    > .container_f369db
    > .list_f369db[data-list-id^="forum-channel-list"] {
    background-color: var(--background-primary);
  }

  // Chat bar
  .chat_f75fb0 .form_f75fb0 {
    padding-left: 66px;

    .wrapper__44df5 {
      z-index: unset;
    }

    .channelTextArea_f75fb0 .scrollableContainer__74017::after,
    .wrapper__44df5::after {
      position: absolute;
      content: "";
      bottom: 2px;
      left: -50px;
      width: 40px;
      height: 40px;
      background-color: var(--background-secondary);
      border-radius: calc(var(--avatar-radius) + 2px);
    }
  }

  // Typing indicator
  .typing_b88801 {
    left: 66px;
    right: 26px;
  }

  // Annoucement bar
  .lookFilled-yCfaCM.colorPrimary-2AuQVo,
  .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background-color: var(--brand-experiment);
  }

  // Server discovery steps bar
  .container__183e8 {
    margin-left: 14px;
    margin-bottom: 16px;
    border-radius: 8px;
  }

  // Spam bar
  .spamBanner_a2eac3 {
    position: relative;
    margin-left: 64px;
    bottom: 8px;
    padding: 8px;

    .bannerTextContainer_a2eac3 {
      min-width: 0;
    }
    .actionButtons_a2eac3 {
      justify-content: space-around;
    }
  }

  // Messages error bar
  .messagesErrorBar__0f481 {
    border-radius: 15px;
    padding-bottom: 0;
    margin-bottom: 15px;

    &:active {
      margin-bottom: 14px;
    }
  }

  // New messages
  .newMessagesBar__0f481 {
    background-color: var(--background-accent);
    border-radius: 50px;
    margin-top: 5px;
  }

  // Mentions
  .message__5126c.mentioned__5126c {
    background-color: var(--mention-color-background);

    &::before {
      background: var(--mention-color-bar);
      padding: 1px;
    }

    &:hover {
      background-color: var(--mention-color-hover) !important;
    }
  }

  // Channel/User tag
  .wrapper_b97385:not([style]) {
    position: relative;
    color: var(--brand-experiment);
    background: transparent;

    &::after {
      content: "";
      opacity: 0.1;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--brand-experiment);
      border-radius: inherit;
    }
  }

  // Going back to new messages
  .jumpToPresentBar__0f481,
  .jumpToPresentBar__0f481:active {
    margin-bottom: 13px;
    border-radius: 20px;
    padding: 0;
  }

  // # @ / autocomplete menu
  .autocompleteRow__13533 {
    padding: 0;

    .base__13533 {
      border-radius: 0;
    }

    &:first-of-type,
    .option_a19535 {
      background-color: var(--background-tertiary);
    }
  }
  .autocomplete__13533 {
    background: var(--background-secondary-alt);
  }
  .categoryHeader_d1405b,
  .autocomplete__13533 {
    background: var(--background-secondary);
  }
  .selected-3H3-RC {
    background: var(--background-primary);
  }

  // -- Emote picker --
  .sprite__04eed {
    filter: var(--colored-emoji) !important;
  }

  #emoji-picker-tab .contents__201d5,
  #sticker-picker-tab .contents__201d5,
  #bd-emotes-tab .contents__201d5 {
    text-indent: 100%;
    overflow: hidden;
  }

  .navList__08434 {
    & > .button__201d5:not(#gif-picker-tab).navButton__08434::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    #sticker-picker-tab.navButton__08434::after {
      background-image: url("https://i.imgur.com/S79punc.png");
    }
    #emoji-picker-tab.navButton__08434::after {
      background-image: url("https://i.imgur.com/YOshExa.png");
    }
    #bd-emotes-tab.navButton__08434::after {
      background-image: url("https://i.imgur.com/efz6JwF.png");
    }

    .navButton__08434 {
      width: 40px;
      padding: 8px;
    }
  }

  .navButtonActive__08434,
  .emojiItem_fc7141.emojiItemSelected_fc7141 {
    background-color: #6e85d321;
  }

  .imageLoading__1859b {
    background-image: none !important;
    background-color: var(--background-primary);
    border-radius: 8px;
  }

  .contentWrapper__08434 {
    grid-row-gap: 20px;
    padding-top: 8px;

    .arrow_d64d50 {
      display: none;
    }
  }

  // Stickers
  .stickerInspected_c6367b .inspectedIndicator_c6367b {
    background-color: #6e85d321;
  }

  // Chat buttons
  .attachButton__74017 .attachButtonPlus__0923f,
  .attachButton__74017:hover .attachButtonPlus__0923f {
    fill: var(--chat-buttons);
  }
  .buttonWrapper__24af7,
  .icon__24af7 {
    color: var(--chat-buttons);
  }
  //msg actions
  .buttonsInner__5126c {
    background-color: var(--background-secondary-alt);
  }

  // Apps
  .contentWrapper__9c62c {
    background-color: var(--background-primary);
  }
  .container_cb32c7,
  .clickable__761e5 {
    background-color: var(--background-secondary);
  }

  // @everyone popout
  .contentWarningPopout_be95d0 {
    background-color: var(--background-secondary);
  }

  // Reaction popout
  .scroller_cc2dff {
    background: var(--background-tertiary);
  }
  .container_cc2dff,
  .reactors_cc2dff {
    background: var(--background-secondary);
  }
  .reactionSelected_cc2dff,
  .reactionDefault_cc2dff:hover {
    margin-right: 6px;
  }
  .reactionSelected_cc2dff {
    background-color: #6e85d321;
  }

  // Spotify session
  .invite__4d3fa {
    background-color: var(--background-secondary);
    border-color: transparent;
  }

  // Attachement
  .fileWrapper__0ccae {
    border: none;
  }

  // Spotify embed
  .embedSpotify__623de {
    border-radius: 5px;
  }

  // Discord Gift
  .tile__72090 {
    background-color: var(--background-secondary);
  }
  .tileHorizontal__72090.tile__72090:hover {
    background-color: var(--background-secondary-alt);
  }
  .invalidPoop__857bf {
    background-color: rgba(0, 0, 0, 0.103);
  }

  // Spoiler
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary-alt);
  }

  // Audio player
  .wrapperAudio_f316dd {
    padding: 10px 0 0 0;
    border-color: transparent;
  }
  .audioMetadata_f316dd {
    padding: 5px 10px;
  }
  .audioControls_f316dd {
    border-radius: 0;
  }

  // HLJS Support
  .hljs.scrollbar__506b3 {
    background-color: var(--background-secondary) !important;
  }

  // Code
  .markup__75297 code {
    background: var(--deprecated-card-bg);
  }

  // Empty channel icon
  .emptyChannelIcon__00de6 {
    position: relative;
    background-color: transparent;

    &::after {
      content: "";
      opacity: 0.3;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--brand-experiment);
      border-radius: 8px;
    }
  }
}
