:root {
  .container__9293f.themed__9293f {
    background: var(--background-secondary);

    .children__9293f::after {
      background: linear-gradient(
        90deg,
        rgba(54, 57, 63, 0) 0,
        var(--background-secondary)
      );
    }

    // Search bar
    .search__49676 {
      order: 1;
      margin-left: 4px;

      .search__97492:not(.open__97492) {
        .searchBar__97492 {
          width: 27px;
          transition: 250ms;
          background-color: transparent;

          .iconContainer_fea832 {
            transform: scale(1.3);
            transition: 250ms;

            .icon_fea832 {
              color: var(--interactive-normal);
            }
          }
        }

        &:hover .searchBar__97492 {
          width: 220px;
          background-color: var(--background-tertiary);

          .iconContainer_fea832 {
            transform: scale(1);

            .icon_fea832 {
              color: var(--text-muted);
            }
          }
        }
      }
      .searchAnswer_bd8186,
      .searchFilter_bd8186 {
        background-color: var(--background-primary);
      }
    }
  }

  // I'm a pro
  .toolbar__9293f > a[href="https://support.discord.com"],
  .searchLearnMore__56fec {
    display: none;
  }

  // -- Search bar and modal --
  .container__55c99 {
    background-color: var(--background-secondary-alt);
    box-shadow: none;

    .resultsGroup-1BPR25 .header-3A13BX {
      text-align: center;
    }

    .queryContainer__55c99 {
      background-color: var(--background-tertiary);
    }

    .option__56fec {
      margin: 0;
      border-radius: 0;

      &::after {
        background: linear-gradient(
          90deg,
          rgba(54, 57, 63, 0),
          var(--background-secondary-alt) 80%
        );
      }
      &.selected-rZcOL- {
        background: linear-gradient(
          90deg,
          rgba(54, 57, 63, 0),
          var(--background-secondary) 80%
        );
      }
    }

    // Calendar
    .calendarPicker_d27f17 .react-datepicker {
      background-color: var(--background-secondary-alt);

      &__day,
      &__header {
        background: var(--background-secondary-alt) !important;
        border-color: var(--background-tertiary);
      }
    }
  }
}
