@use "sass:string";

:root {
  // -- Member popout --
  .biteSize_c69a7b.outer_c69a7b {
    max-height: unset !important;

    .menus_ad5fac {
      gap: 8px;
    }

    .body_ad5fac {
      overflow: unset !important;
      padding: 4px 12px !important;
    }

    .biteSize_c69a7b.inner_c69a7b {
      max-height: unset !important;
    }

    .header_b8cc6d {
      min-height: 120px !important;
    }

    // Banner
    .mask_d5fdb1 {
      overflow: visible;
      min-height: 120px !important;

      foreignObject {
        mask: unset;
      }

      .banner_d5fdb1 {
        -webkit-mask-image: linear-gradient(#000000a7, #000000a7);
        height: 120px !important;
      }

      .pencilContainer_c3e427 {
        display: none;
      }

      &[viewBox="0 0 300 105"] foreignObject {
        transform: translateY(-0px);
      }
    }

    // Avatar
    .avatar_f94206 {
      top: 20px !important;
      left: 16px;

      circle {
        display: none;
      }

      .avatarHint_f89da9 {
        border-radius: 5px;

        foreignObject {
          mask: none;
        }
      }

      .avatarDecorationHint_f89da9 {
        border-radius: 5px !important;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;

        foreignObject {
          mask: none;
        }
      }

      .overlay_f94206:after {
        border-radius: var(--avatar-radius);
      }
    }

    // Body
    .body_b8cc6d {
      position: static;
      overflow: visible;

      // Username
      .container_c32acf {
        position: absolute;
        top: 20px;
        left: 115px;
        z-index: 1;
        max-width: 180px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        pointer-events: none;
        background-color: #0000003f;
        border-radius: 8px;
        padding: 2px;

        .usernameRow_c32acf h1 {
          color: var(--header-primary);
        }
      }

      // Roles
      .role_f9575e {
        position: relative;
        overflow: hidden;
        border: none;
        z-index: 1;

        &:not(.addButton_e4010c) {
          pointer-events: none;
        }

        .roleRemoveButton_f9575e {
          position: static;

          .roleCircle_a26d7b {
            width: var(--role-circle) !important;
            height: var(--role-circle) !important;
            pointer-events: auto;

            &::before {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: inherit;
              opacity: 0.3;
              z-index: -1;
              pointer-events: none;
              transition: background 200ms;
            }

            &:hover {
              background: #fd5959 !important;
            }
          }

          .roleRemoveIcon_e4010c {
            display: none;
          }
        }
      }
    }
  }

  // Roles selector
  .container_ac201b {
    position: relative;
    z-index: 1005;
    border: none;
    padding: 0;
    background-color: #191f2e;

    .container_c18ec9 {
      border-radius: 5px 5px 0 0;
    }

    .list_eef3ef {
      margin: 0;
      padding: 0;

      .item_eef3ef {
        margin: 5px;
        position: relative;
        overflow: hidden;
        border-radius: 0;

        .popoutRoleCircle_f50ea3 {
          width: 0;
          border: none;
          margin: 0;

          &::before {
            position: absolute;
            border-radius: 5px;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            opacity: 0.2;
            z-index: -1;
          }
        }
      }
    }
  }

  // -- User popout --
  .outer_c69a7b.fullSize_c69a7b {
    width: 700px;
    .inner_c69a7b.fullSize_c69a7b {
      overflow: hidden;

      &::before {
        border-radius: 8px;
      }
    }

    & > * > header {
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .headerInner_b9fccc {
      width: calc(100% - 8px);
      box-sizing: border-box;
    }

    .avatar_f94206 {
      top: -143px;
    }
  }

  .body_b9fccc {
    position: relative;
    top: 150px;
    height: calc(100% - 185px);

    .container_c32acf {
      position: relative;
      top: 0px;
      left: 150px;
      z-index: 1;
      font-size: 23px;
      font-weight: 600;
    }

    .overlay_b9fccc {
      margin-top: 80px;
    }
  }

  // Connections
  .connectedAccountContainer_ab12c6 {
    position: relative;
    padding: 0;
    outline: 2px solid rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
    width: 296px;
    transition: outline-color 100ms;
    overflow: hidden;

    .connectedAccount_ab12c6 {
      height: 100%;

      .connectedAccountIcon_ab12c6 {
        padding: 12px;
        border-radius: 0;
        height: 100%;
      }

      .connectedAccountNameContainer_ab12c6 {
        padding: 12px 12px 12px 4px;
      }
    }

    &.connectedAccountContainerWithMetadata_ab12c6 .connectedAccount_ab12c6 {
      align-items: flex-start;
      padding-bottom: 20px;

      .connectedAccountIcon_ab12c6 {
        padding: 12px;
        width: 48px;
        box-sizing: border-box;
      }
    }

    .connectedAccountChildren_ab12c6 {
      position: absolute;
      left: 0;
      bottom: 12px;
      margin-left: 60px;
    }
    // &.biteSize_c69a7b.outer_c69a7b > .userProfileInner_c69a7b,
    // .inner_c69a7b.fullSize_c69a7b {
    //   background-color: var(--background-primary);
    // }
  }

  // Mutuals
  .listRow_d2d6cb {
    margin: 0;
    padding: 8px 12px;
  }

  .pencilContainer_c3e427 {
    display: none;
  }

  //user profile (unthemed)
  .fullSize_c69a7b.outer_c69a7b:not(.custom-profile-theme) {
    .overlay_c69a7b {
      background-color: var(--background-tertiary);
    }
    &.biteSize_c69a7b.inner_c69a7b,
    .fullSize_c69a7b.inner_c69a7b {
      background-color: var(--background-primary);
    }
  }

  .mask_c51b4e rect[fill="black"],
  .mask_c51b4e circle[fill="black"] {
    display: none;
  }
  .mask_c51b4e .cursorDefault_c51b4e rect,
  .mask_c51b4e .pointerEvents_c51b4e {
    rx: calc(1px + var(--status-radius));
    ry: calc(1px + var(--status-radius));
  }

  //full profile tabs
  .tabBar_ecc04c {
    margin-bottom: 4px;
  }

  // -- Connections
  .connectionIcon_e2a436[alt="Battle.net"],
  .accountBtnInner_ec99f9[aria-label="Battle.net"],
  .accountButtonInner_e2a436[aria-label="Battle.net"],
  .connectedAccountIcon_ab12c6[aria-label="Battle.net"] {
    background-color: #1da0f248;
  }

  .connectionIcon_e2a436[alt="Twitch"],
  .accountBtnInner_ec99f9[aria-label="Twitch"],
  .accountButtonInner_e2a436[aria-label="Twitch"],
  .connectedAccountIcon_ab12c6[aria-label="Twitch"] {
    background-color: #601bd852;
  }

  .connectionIcon_e2a436[alt="YouTube"],
  .accountBtnInner_ec99f9[aria-label="YouTube"],
  .accountButtonInner_e2a436[aria-label="YouTube"],
  .connectedAccountIcon_ab12c6[aria-label="YouTube"] {
    background-color: #d9252b49;
  }

  .connectionIcon_e2a436[alt="Twitter"],
  .accountBtnInner_ec99f9[aria-label="Twitter"],
  .accountButtonInner_e2a436[aria-label="Twitter"],
  .connectedAccountIcon_ab12c6[aria-label="Twitter"] {
    background-color: #0098e43f;
  }

  .connectionIcon_e2a436[alt="X"],
  .accountBtnInner_ec99f9[aria-label="X"],
  .accountButtonInner_e2a436[aria-label="X"],
  .connectedAccountIcon_ab12c6[aria-label="X"] {
    background-color: #0000003f;
  }

  .connectionIcon_e2a436[alt="Steam"],
  .accountBtnInner_ec99f9[aria-label="Steam"],
  .accountButtonInner_e2a436[aria-label="Steam"],
  .connectedAccountIcon_ab12c6[aria-label="Steam"] {
    background-color: #00000034;
  }

  .connectionIcon_e2a436[alt="Reddit"],
  .accountBtnInner_ec99f9[aria-label="Reddit"],
  .accountButtonInner_e2a436[aria-label="Reddit"],
  .connectedAccountIcon_ab12c6[aria-label="Reddit"] {
    background-color: #fe44013d;
  }

  .connectionIcon_e2a436[alt="Facebook"],
  .accountBtnInner_ec99f9[aria-label="Facebook"],
  .accountButtonInner_e2a436[aria-label="Facebook"],
  .connectedAccountIcon_ab12c6[aria-label="Facebook"] {
    background-color: #2e328485;
  }

  .connectionIcon_e2a436[alt="Spotify"],
  .accountBtnInner_ec99f9[aria-label="Spotify"],
  .accountButtonInner_e2a436[aria-label="Spotify"],
  .connectedAccountIcon_ab12c6[aria-label="Spotify"] {
    background-color: #1ed75f34;
  }

  .connectionIcon_e2a436[alt="Xbox"],
  .accountBtnInner_ec99f9[aria-label="Xbox"],
  .accountButtonInner_e2a436[aria-label="Xbox"],
  .connectedAccountIcon_ab12c6[aria-label="Xbox"] {
    background-color: #5dc21e36;
  }

  .connectionIcon_e2a436[alt="League of Legends"],
  .accountBtnInner_ec99f9[aria-label="League of Legends"],
  .accountButtonInner_e2a436[aria-label="League of Legends"],
  .connectedAccountIcon_ab12c6[aria-label="League of Legends"] {
    background-color: #cea14638;
  }

  .connectionIcon_e2a436[alt="GitHub"],
  .accountBtnInner_ec99f9[aria-label="GitHub"],
  .accountButtonInner_e2a436[aria-label="GitHub"],
  .connectedAccountIcon_ab12c6[aria-label="GitHub"] {
    background-color: #24292e62;
  }

  .connectionIcon_e2a436[alt="Skype"],
  .accountBtnInner_ec99f9[aria-label="Skype"],
  .accountButtonInner_e2a436[aria-label="Skype"],
  .connectedAccountIcon_ab12c6[aria-label="Skype"] {
    background-color: #0076d74b;
  }

  .connectionIcon_e2a436[alt="Epic Games"],
  .accountBtnInner_ec99f9[aria-label="Epic Games"],
  .accountButtonInner_e2a436[aria-label="Epic Games"],
  .connectedAccountIcon_ab12c6[aria-label="Epic Games"] {
    background-color: #2f2f2f59;
  }

  .connectionIcon_e2a436[alt="Riot Games"],
  .accountBtnInner_ec99f9[aria-label="Riot Games"],
  .accountButtonInner_e2a436[aria-label="Riot Games"],
  .connectedAccountIcon_ab12c6[aria-label="Riot Games"] {
    background-color: #eb1c2d38;
  }

  .connectionIcon_e2a436[alt="PayPal"],
  .accountBtnInner_ec99f9[aria-label="PayPal"],
  .accountButtonInner_e2a436[aria-label="PayPal"],
  .connectedAccountIcon_ab12c6[aria-label="PayPal"] {
    background-color: #009fe33b;
  }

  .connectionIcon_e2a436[alt="TikTok"],
  .accountBtnInner_ec99f9[aria-label="TikTok"],
  .accountButtonInner_e2a436[aria-label="TikTok"],
  .connectedAccountIcon_ab12c6[aria-label="TikTok"] {
    background-color: #64bfc546;
  }

  .connectionIcon_e2a436[alt="eBay"],
  .accountBtnInner_ec99f9[aria-label="eBay"],
  .accountButtonInner_e2a436[aria-label="eBay"],
  .connectedAccountIcon_ab12c6[aria-label="eBay"] {
    background-color: #c500003b;
  }

  .connectionIcon_e2a436[alt="PlayStation Network"],
  .accountBtnInner_ec99f9[aria-label="PlayStation Network"],
  .accountButtonInner_e2a436[aria-label="PlayStation Network"],
  .connectedAccountIcon_ab12c6[aria-label="PlayStation Network"] {
    background-color: #0051ae53;
  }

  .connectionIcon_e2a436[alt="Instagram"],
  .accountBtnInner_ec99f9[aria-label="Instagram"],
  .accountButtonInner_e2a436[aria-label="Instagram"],
  .connectedAccountIcon_ab12c6[aria-label="Instagram"] {
    background-color: #af01b640;
  }

  .connectionIcon_e2a436[alt="Roblox"],
  .accountBtnInner_ec99f9[aria-label="Roblox"],
  .accountButtonInner_e2a436[aria-label="Roblox"],
  .connectedAccountIcon_ab12c6[aria-label="Roblox"] {
    background-color: #b6bfcc40;
  }

  .connectionIcon_e2a436[alt="Crunchyroll"],
  .accountBtnInner_ec99f9[aria-label="Crunchyroll"],
  .accountButtonInner_e2a436[aria-label="Crunchyroll"],
  .connectedAccountIcon_ab12c6[aria-label="Crunchyroll"] {
    background-color: #f375214d;
  }

  .connectionIcon_e2a436[alt="Bungie.net"],
  .accountBtnInner_ec99f9[aria-label="Bungie.net"],
  .accountButtonInner_e2a436[aria-label="Bungie.net"],
  .connectedAccountIcon_ab12c6[aria-label="Bungie.net"] {
    background-color: #00a3e353;
  }
  .connectionIcon_e2a436[alt="Amazon Music"],
  .accountBtnInner_ec99f9[aria-label="Amazon Music"],
  .accountButtonInner_e2a436[aria-label="Amazon Music"],
  .connectedAccountIcon_ab12c6[aria-label="Amazon Music"] {
    background-color: #0dbff553;
  }
}
