// -- 🚥 WINDOWS BUTTONS PART --
.titleBar__421ed {
  z-index: 1001;
}

.winButton__421ed {
  &:not(:last-child) {
    & > svg {
      display: none;
    }
    &::after {
      content: "";
      border-radius: 50px;
      pointer-events: fill;
    }
  }
  &:hover {
    background-color: var(--background-tertiary);
  }
}

.winButtonClose__421ed {
  margin-right: 5px;

  &::after {
    padding: 6px;
    background-image: url("https://i.imgur.com/WAbJScJ.png");
    background-size: 100%;
  }

  &:hover::after {
    background-image: url("https://i.imgur.com/ipwGE9a.png");
    background-size: 100%;
  }
}

.winButtonMinMax__421ed {
  &:nth-child(3)::after {
    background-color: #faa61a;
    padding: 5px;
  }

  &:nth-child(3):hover::after {
    background-color: #faa81ae5;
  }
  &:last-child {
    color: #43b581;

    &:hover {
      color: #43b582e3;
    }
    rect {
      height: 3px;
      rx: 2px;
    }
  }
}

:root {
  // Custom status modal
  .select__3f413,
  .popout__3f413 {
    border: none;
  }
  .select__3f413.open__3f413,
  .popout__3f413 {
    background-color: var(--background-secondary-alt);
  }
  .footer__49fc1 {
    background: var(--background-tertiary);
  }

  // Profile
  .accountProfilePopoutWrapper__37e49 .submenuPaddingContainer_c1e9c4 {
    margin-left: -5px;
  }

  // -- Better menus --

  // Menu
  .menu_c1e9c4 {
    border-radius: 5px;
    overflow: hidden;

    .scroller_c1e9c4 {
      overflow: hidden auto !important;
      padding: 0;

      .separator_c1e9c4 {
        display: none;
      }
    }
  }

  // Submenu
  .submenuPaddingContainer_c1e9c4 {
    padding: 0;
  }

  // Label
  .item_c1e9c4 {
    margin: 0;
    padding: 10px 15px;
    border-radius: 0;
    transition: 150ms;

    &.colorDefault_c1e9c4 {
      &:hover,
      &.focused_c1e9c4,
      &:active:not(.hideInteraction-2jPGL_) {
        background-color: #5c6eb12a;
      }
    }
    &.colorDanger_c1e9c4 {
      color: #fd5959;

      &:hover,
      &.focused_c1e9c4,
      &:active:not(.hideInteraction-2jPGL_) {
        background-color: #f047471a;
      }
    }
  }

  // Fix for user menu tooltip (thx Metro420yt)
  [class*="disabledPointerEvents"][style*="left: -"] {
    left: 0 !important;
  }

  // Loading screen
  .container_a2f514 > .content_a2f514 {
    position: relative;

    .ready_a2f514 {
      display: none;

      & + .text_a2f514 {
        top: 82px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 20px;
      left: calc(50% - 100px);
      width: 200px;
      height: 200px;
      background: url("https://comfy-themes.github.io/Discord/assets/bonfire.gif")
        center/80% no-repeat;
    }
  }

  // Coloured status when playing
  .pointerEvents__44b0c {
    &[fill="#23a55a"] {
      fill: var(--online);
    }
    &[fill="#f0b232"] {
      fill: var(--idle, var(--iddle)); //backwards compatibility
    }
    &[fill="#f23f43"] {
      fill: var(--dnd);
    }
    &[fill="#80848e"] {
      fill: var(--offline);
    }
    &[fill="#593695"] {
      fill: var(--streaming);
    }
  }

  // Joining message
  .contentWrapper__9b0f4 {
    background: var(--background-secondary);
  }

  // Deleting Discord watermark
  .wordmark__421ed svg {
    display: var(--discord-logo);
  }

  // Watch stream popout
  .body-2khErn {
    background: var(--background-tertiary);
  }

  // Deleting message confirmation
  .message__89466 {
    background: var(--background-primary);
  }

  // Keyboard shortcuts
  .keyboardShortcutsModal_f061f6 {
    background: var(--background-primary);

    .keybindShortcut-3zF1P9 span {
      border-radius: 1px;
    }
  }

  // Popups
  .root__49fc1,
  .footer__49fc1,
  .modal__7f8f5 {
    box-shadow: none;
  }

  // Cross
  .default_e18686,
  .default_e18686:hover {
    background-color: var(--background-tertiary);
  }

  // >:( fuck borders
  .messageGroupWrapper__45690,
  .inputDefault-3FGxgL,
  .container-30qY7E,
  .cardPrimary_cb7a0e,
  .cardPrimaryOutline-1ofwVz,
  .codeRedemptionRedirect_a706ba,
  .previewOverlay-2reuWf,
  .markup__75297 code {
    border: none;
  }

  // -- Status masks --
  .pointerEvents__44b0c {
    mask: none;
    pointer-events: none;

    &[width="8"]:not([mask="url(#svg-mask-status-online-mobile)"]),
    &[width="10"]:not([mask="url(#svg-mask-status-online-mobile)"]),
    &[width="12"]:not([mask="url(#svg-mask-status-online-mobile)"]),
    &[width="16"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
      rx: var(--status-radius);
    }

    &[width="25"],
    &[mask="url(#svg-mask-status-online-mobile)"] {
      rx: 5px;
    }
  }

  .mask__44b0c,
  .userInfo__1fed1 {
    overflow: visible;
  }

  // Fixing weird Discord behavior
  .cursorDefault--wfhy5,
  .mask__44b0c > svg {
    overflow: visible;
  }
  div:not(.avatarWrapper__37e49) .mask__44b0c > svg > mask > rect:first-child {
    y: 8;
    rx: var(--status-radius);
  }
  .mask__44b0c > svg > mask > rect[width="10"]:first-child {
    x: 8.5;
    width: 14px;
    height: 11px;
  }
  .avatarWrapper__37e49 .wrapper__44b0c > .mask__44b0c > svg > rect {
    mask: none;
    x: 17;
    y: 15;
    width: 10px;
    height: 10px;
    rx: var(--status-radius);
  }

  .mask__44b0c > svg {
    & > rect {
      height: 40px;
    }
    & > mask {
      & > rect:nth-child(2),
      & > circle,
      & > polygon {
        display: none;
      }
    }
  }

  // All masks in DM, user and member part
  .channel__972a0 .pointerEvents__44b0c,
  .members_c8ffbb .pointerEvents__44b0c,
  .avatarWrapper__37e49 .pointerEvents__44b0c,
  .peopleListItem_cc6179 .pointerEvents__44b0c,
  .nowPlayingColumn__133bf .pointerEvents__44b0c {
    height: 12px;
    y: 24;
    stroke-width: 2.5px;
  }

  // All masks except mobile and typing masks in DM, user and member part
  // prettier-ignore
  .channel__972a0 .pointerEvents__44b0c[width="10"]:not([mask="url(#svg-mask-status-online-mobile)"]),
  .members_c8ffbb .pointerEvents__44b0c[width="10"]:not([mask="url(#svg-mask-status-online-mobile)"]),
  .avatarWrapper__37e49 .pointerEvents__44b0c,
  .peopleListItem_cc6179 .pointerEvents__44b0c[width="10"]:not([mask="url(#svg-mask-status-online-mobile)"]),
  .nowPlayingColumn__133bf .pointerEvents__44b0c[width="10"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
    width: 12px;
    x: 24;
  }

  // All mobile masks in DM and member part
  .channel__972a0,
  .members_c8ffbb,
  .peopleListItem_cc6179,
  .nowPlayingColumn__133bf,
  .menu_c1e9c4 {
    & .pointerEvents__44b0c[mask="url(#svg-mask-status-online-mobile)"] {
      width: 12px;
      height: 16px;
      x: 24;
      y: 20;
    }
  }

  // Mask in the status picker
  #account-avatar .pointerEvents__44b0c {
    width: 18px;
    height: 18px;
    x: 68;
    y: 68;
    stroke-width: 3.5px;
    rx: calc(1px + var(--status-radius));
  }

  // Mutuals status
  .listAvatar-1NlAhb .pointerEvents__44b0c {
    x: 30;
    y: 30;
    stroke-width: 2.5px;
  }

  // Status in menu
  // prettier-ignore
  .menu_c1e9c4 .pointerEvents__44b0c:not([mask="url(#svg-mask-status-online-mobile)"]) {
    width: 10px;
    height: 10px;
    stroke-width: 2.5px;
  }

  // Adding stroke color
  .menu_c1e9c4 .pointerEvents__44b0c {
    stroke: var(--background-tertiary);
  }
  .channel__972a0 .pointerEvents__44b0c,
  .members_c8ffbb .pointerEvents__44b0c,
  .listAvatar-1NlAhb .pointerEvents__44b0c,
  .nowPlayingColumn__133bf .pointerEvents__44b0c {
    stroke: var(--background-secondary-alt);
  }
  .avatarWrapper__37e49[aria-expanded] .pointerEvents__44b0c,
  .peopleListItem_cc6179 .pointerEvents__44b0c {
    stroke: var(--background-primary);
  }

  // Typing dots
  .wrapper__44b0c .dots__5ad89 {
    overflow: visible;

    g {
      transform: translateY(2.5px);
    }
  }

  // Avatars radius
  .wrapper__44b0c foreignObject,
  .callAvatarMask_f910d0 foreignObject,
  .avatarContainer__183c2 foreignObject,
  .avatarMasked__0b3c8 {
    mask: none;
    -webkit-mask: none;
  }

  .wrapper__44b0c,
  .avatar__44b0c,
  .overlay__75742::after,
  .profile_d6fbe8 .avatarUploaderInner-yEhTv5,
  .voiceAvatar_f910d0,
  .avatar_c19a55,
  .border_f910d0,
  .avatar__07f91,
  .clickableAvatar__183c2,
  .emptyUser__183c2,
  .avatar__183c2,
  .wrapper_f910d0.ringingIncoming_f910d0::after,
  .wrapper_f910d0.ringingOutgoing_f910d0::after,
  .replyAvatar_c19a55,
  .avatarSpeaking__44b0c,
  .avatar-2EVtgZ,
  .avatarContainerMasked__183c2,
  .appAvatar-2_lufo,
  .embedAuthorIcon__623de {
    border-radius: var(--avatar-radius);
  }

  // thing behind avatar
  .mask__68edb > mask > circle {
    display: none;
  }

  // Server radius
  .wrapper_cc5dd2 foreignObject {
    mask: none;
    -webkit-mask: none;
  }
  .wrapperSimple_cc5dd2 {
    overflow: visible;
  }

  .wrapperSimple_cc5dd2,
  .wrapper_cc5dd2 foreignObject,
  .folderIconWrapper__48112,
  .expandedFolderBackground__48112,
  .flexChild__7c0ba .avatarUploaderInner_cd0bbe {
    border-radius: var(--server-radius);
  }

  .iconInactive_f34534 {
    border-radius: calc(var(--server-radius) - 4px);
  }

  .wrapper_cc5dd2 {
    foreignObject {
      transition: border-radius 200ms;
    }
    &:hover foreignObject {
      border-radius: calc(var(--server-radius) - 3px);
    }
  }

  // Buttons
  .container-2nx-BQ,
  .input-2XRLou {
    border-radius: 5px;
  }
  .slider-32CRPX rect {
    rx: 5px;
  }

  // Volume bar
  .mini_a562c8 {
    height: 25px;
  }
  :not(.themedPopout-1TrfdI) > .slider_a562c8:not(.mini_a562c8) {
    height: 50px;
  }
  .themedPopout-1TrfdI > .slider_a562c8 {
    height: 15px;
    margin: 0;

    .bar_a562c8 {
      top: 0 !important;
    }
  }
  .bar_a562c8 {
    height: 15px !important;
    background-color: var(--background-secondary);
  }
  .slider_a562c8 .grabber_a562c8 {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  .barFill_a562c8 {
    border-radius: 0 3px 3px 0;
  }

  // Bigger stream preview popout
  .streamPreview__6da2d {
    width: 370px;
    background-color: var(--background-secondary);

    .previewContainer__6da2d {
      height: 211px;

      .emptyPreviewImage-3LUxKH {
        margin-bottom: 18px;
      }
    }

    .button__201d5 {
      border: none;
      background-color: #e9edff;
      color: var(--background-tertiary);
      transition: background-color 0.15s;

      &:hover {
        background-color: #fff;
      }
    }
  }

  // Fix enable community issue
  .container-1rn8Cv > img {
    z-index: unset;
  }

  // Token thing
  .contentWarningPopout_be95d0 {
    background-color: var(--background-primary);
    box-shadow: none;
  }

  // No scrollbars
  .layerContainer-2v_Sit {
    *::-webkit-scrollbar {
      display: none;
    }

    .scroller-3nFW5p {
      padding-left: 0;

      & > .content__99f8c,
      .buttons__74017,
      .messagesPopout__45690 {
        padding-right: 10px !important;
      }
    }
  }

  // Revert some Discord internal changes
  & {
    --brand-experiment: #7289da;
    --brand-experiment-560: #5b70be;
  }

  .lookFilled-yCfaCM.colorGrey-2iAG-B,
  .lookFilled-yCfaCM.colorBrandNew-2-gGsS {
    background-color: var(--brand-experiment);

    &:hover {
      background-color: var(--brand-experiment-560);
    }
  }

  .gameVerifiedIcon-3t4jtr .flowerStar__3e3b0 > path {
    fill: var(--brand-experiment);
  }

  .wrapper__8436d:hover .childWrapper_a6ce15 {
    background-color: var(--background-accent);
  }

  .homeIcon__560eb > path {
    d: path(
      "M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z"
    );
  }

  // Guild popout
  .guildPopout-G6M0fK {
    background-color: var(--background-secondary);

    .iconMask-1lJhcS {
      background-color: transparent;
    }
  }

  // Forums
  .container_f369db {
    background-color: var(--background-primary);

    .mainCard_f369db {
      background-color: var(--background-secondary);
    }
  }

  // BetterDiscord
  .bd-sidebar-header {
    padding-right: 10px;
  }

  .bd-addon-list.bd-grid-view {
    grid-template-columns: 1fr 1fr;
  }

  .directoryModal-YJsOMv {
    background-color: var(--background-primary);
  }

  // New channels and role thing and member thing
  .container__0b563,
  .header__0b563,
  .emptyPage__5d7c9,
  .scrollerContainer_c6b11b,
  .container_c2efea,
  .background__7449f,
  .container_c791b2,
  .pageBody__41ed7,
  .page_c791b2 {
    background-color: var(--background-primary) !important;
  }

  .homeContent__7449f .row_d13feb,
  .channelRow_e4503a {
    background-color: var(--background-secondary);
  }

  .headerArtPlaceholder__553a5 {
    background-color: var(--background-tertiary);
  }
}

.soundButtonRefresh__6d4ed {
  background-color: var(--background-primary);
}

.theme-dark {
  --card-secondary-bg: var(--background-secondary);

  --bg-base-primary: var(--background-primary);
  --bg-base-secondary: var(--background-secondary);
  --bg-base-tertiary: var(--background-tertiary);

  --bg-surface-raised: var(--background-secondary-alt);
}
