:root {
  // sidebar popout
  .biteSize_c0bea0.outer_c0bea0 {
    & {
      overflow: unset !important;
    }

    //profile actions
    .wrapper_da5890 {
      top: -16px;
      border-radius: 8px;
      margin: 1px 6px;
      transform: scale(0.9);
      right: 6px;

      button {
        background-color: var(--profile-gradient-primary-color);
      }
    }

    div > button {
      border-radius: 8px !important;
    }

    //status parent
    .header__5be3e {
      min-height: 130px !important;

      // status
      [role="tooltip"] {
        // only has emoji
        .statusEmoji_c8ce83:not(:has(+ .statusText_c8ce83)) {
          $size: 24px;
          min-width: $size;
          min-height: $size;
          max-width: $size;
          max-height: $size;
        }

        .outer_c8ce83 {
          top: -20px;

          .inner_c8ce83 {
            background-color: var(--background-tertiary);
          }

          &::before {
            top: -8px !important;
            left: 4px !important;
          }
          &::after {
            top: -16px !important;
            left: -8px !important;
          }
        }
      }
    }
  }
}
