:root {
  // -- 👤 USER SETTINGS --

  // Wide settings
  .contentRegion__23e6b {
    flex: 1 1 100%;
  }
  .contentColumn__23e6b,
  .customColumn__23e6b,
  .sidebarScrollable_ff90b2 + .content_ff90b2,
  .customScroller__23e6b > div {
    max-width: 95%;
  }

  .sidebar__23e6b {
    padding: 60px 0 35px 65px;
    width: 285px;
  }

  // Search bar
  .searchBar_c7e907 {
    border-radius: 5px 0 0 5px;
  }

  .sidebar__23e6b > div > .item_b3f026,
  #bd-settings-sidebar .ui-tab-bar-item {
    padding: 8px 0 8px 10px;
    border-radius: 5px 0 0 5px;
  }

  .closeButton_c2b141 {
    border-radius: 5px;
  }
  .keybind_c2b141 {
    display: none;
  }

  // My account
  .accountProfileCard__1fed1 {
    background-color: var(--background-secondary);

    .mask__68edb > mask {
      display: none;
    }

    .userInfo__1fed1 {
      position: relative;

      // Avatar
      .avatar__1fed1 {
        top: -14px;
        border-color: transparent;
        border-width: 9px 0;
        background-color: transparent;

        .imageUploaderInner_e4d0bf {
          border: none;
          border-radius: var(--avatar-radius);
          background-color: transparent;
        }
        .imageUploaderIcon_e4d0bf {
          display: none;
        }

        .pointerEvents__44b0c {
          x: 66px;
          y: 66px;
          width: 20px;
          height: 20px;
          rx: calc(var(--status-radius) + 1px);
          stroke: var(--background-secondary);
          stroke-width: 4px;
        }
      }
    }

    .background__1fed1 {
      margin-right: 0;
    }
  }

  // User Profile
  .preview__44061 {
    // Banner
    .mask__68edb {
      overflow: visible;

      mask {
        display: none;
      }

      foreignObject {
        mask: unset;
      }

      .banner_ab876d {
        height: 120px;
      }
    }

    // Avatar
    .avatarUploaderPremium_ab876d {
      top: 16px;
    }

    .avatarUploaderInner_ab876d {
      border: none;
      border-radius: var(--avatar-radius);
      background-color: transparent;
    }
    .imageUploaderIcon_e4d0bf {
      display: none;
    }

    .status_ab876d {
      background-color: transparent;

      rect {
        mask: none;
        rx: var(--status-radius);
        ry: var(--status-radius);
      }
    }

    .userText_c9ccf6 {
      position: absolute;
      top: 25px;
      left: 115px;
    }

    .customStatus-3XAoF9 {
      padding: 0 12px 12px 16px;
      margin-bottom: 0;
      background-color: var(--background-tertiary);
    }

    .divider-1wtgZ3 {
      display: none;
    }

    // Activity
    .profileCustomizationPreview_ab876d .lastSection_d7a21f {
      position: relative;
      padding: 16px;
      margin: 16px 0;
      background-color: #7289da;
      border-radius: 0 0 5px 5px;

      .defaultColor__77578,
      h3 {
        color: white !important;
      }

      &::before {
        content: "";
        position: absolute;
        height: 21px;
        z-index: 2;
        width: 284px;
        top: -20px;
        left: 0;
        background: #7289da;
        background: var(--playing);
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
        animation: animate 6s linear infinite;
        animation-delay: 0s;
        opacity: 1;
      }

      .fakeActivityTitle_dfbe6b::before {
        content: "";
        position: absolute;
        height: 21px;
        z-index: 1;
        width: 284px;
        top: -21px;
        left: 0;
        background: var(--background-secondary);
        background: var(--profile-gradient-primary-color);
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
        animation: animate2 4s linear infinite;
        animation-delay: 0s;
        opacity: 1;
      }

      .button__201d5 {
        border: none;
        background-color: var(--listening-test);
        box-shadow: 0 4px 15px #00000021;
        color: #fff;
      }
    }
  }

  // Family center
  #activity-tab .max-width__8e680,
  #activity-tab .max-width__5b321,
  #requests-tab .container_d9914b {
    max-width: unset;
  }

  // Authorized apps
  .cardPrimaryOutline-1ofwVz {
    background-color: var(--background-secondary);
  }

  // Apparels
  .tabBarItemContainer_c7e907,
  .landingPageTabLink_cbe0b4 {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .textBadge_f05120.baseShapeRound__2b1f5 {
      margin-right: 7px;
    }
  }

  // Connections
  .connectionIcon_c7f964 {
    border-radius: 5px;
    padding: 4px;
  }

  .accountButtonInner_c7f964 {
    border: none;
  }

  // Nitro
  .premiumLabel_e681d1 {
    flex-direction: row-reverse;
    justify-content: flex-end;

    svg {
      margin-right: 8px;
    }
    + .background_e681d1 {
      border-radius: 5px 0 0 5px;
    }
  }

  .hero-1aNo0v {
    max-width: unset;
  }
  .featuresHeader-2bjq5B {
    text-align: center;
  }

  // Subscriptions
  .banner__84995 {
    max-width: unset;
  }

  // Boost
  .gemIndicatorContainer_b03ca0 {
    background-color: var(--background-tertiary);
  }
  .boostContainer_ceb06a,
  .card__4d7bb {
    background-color: var(--background-secondary);
  }

  .boostContainer_ceb06a,
  .card__4d7bb {
    background-color: var(--background-secondary);
  }

  // Billing
  .paymentRow__01014,
  .pageActions__2d021,
  .codeRedemptionRedirect_a706ba {
    background: var(--background-secondary-alt);
  }
  .payment_e9cb00:hover {
    background-color: var(--background-secondary);
  }
  .expandedInfo_e9cb00 {
    background: var(--background-secondary);
  }
  .checked-1pZh2h {
    background: transparent;
    border-color: transparent;
  }
  .bottomDivider__01014 {
    border-bottom-color: transparent;
  }

  // Activity Status
  .notDetected-2HEmAp,
  .addGamePopout_cc46f0 {
    background: var(--background-secondary-alt);
  }
  .gameNameInput-3TuPuA:hover,
  .gameNameInput-3TuPuA:focus {
    background: var(--background-secondary-alt);
    border: none;
  }
  .game-3x3aDt {
    box-shadow: 0 1px 0 0 var(--background-secondary);

    .removeGame-3Le1LJ {
      top: -3px;
      right: -5px;
      border-radius: 5px;
    }
  }
  .css-17e1tep-control {
    border: none;
  }

  // Voice & Video
  .progress__06283 {
    background: var(--background-primary);
  }

  .notches__06283 {
    color: var(--background-secondary) !important;
  }

  // --------------------------- ⚙️ SERVER SETTINGS ---------------------------

  // Overview
  .bannerUpsellContainer-31E9J5 {
    background-color: var(--background-secondary);
  }
  .flexChild__7c0ba[style="flex: 1 1 50%;"] {
    flex: 1 !important;
  }

  // Modifications notification
  .noticeRegion__23e6b {
    max-width: unset;
    right: 0;

    .container_fcf29c {
      background: var(--background-tertiary) !important;
    }
  }

  // Roles
  .customColorPicker_bbc020,
  .container__33507 {
    background: var(--background-secondary);
    border-radius: 5px;
  }

  .roleRow_a930f1 {
    margin: 5px 0;
    background-color: var(--background-secondary);

    &:last-child {
      border-radius: 4px 4px 0 0;
    }

    &::before {
      display: none;
    }
  }

  .sidebar_e29cd7 {
    border: none;

    .list_e29cd7 {
      padding: 0 20px;
      position: relative;
      overflow: hidden;
      z-index: 1;
      border-radius: 0;

      .role_dfa8b6 {
        border-radius: 5px;
        margin-bottom: 6px;
        padding-left: 20px;

        .roleCircle__4f569 {
          width: 0;
          margin: 0;

          &::before {
            position: absolute;
            border-radius: 5px;
            content: "";
            top: 0;
            left: 8px;
            width: calc(100% - 8px);
            height: 100%;
            background: inherit;
            opacity: 0.2;
            z-index: -1;
            transition: opacity 200ms;
          }
        }
        .roleName-3910zV {
          margin-left: 0;
        }
      }
    }

    .item_b3f026:hover:not(.disabled_b3f026),
    .topPill-3DJJNV .item_b3f026:hover:not(.disabled_b3f026),
    .selected_b3f026.item_b3f026,
    .topPill-3DJJNV .selected_b3f026.item_b3f026 {
      background: none;

      .roleCircle__4f569::after {
        position: absolute;
        border-radius: 3px;
        content: "";
        top: 0.5px;
        bottom: 0.5px;
        left: -3px;
        width: 8px;
        background: inherit;
        z-index: -1;
        transition: opacity 200ms;
      }
    }

    .item_b3f026:hover:not(.disabled_b3f026),
    .topPill-3DJJNV .item_b3f026:hover:not(.disabled_b3f026) {
      background: none;

      .roleCircle__4f569::before,
      .roleCircle__4f569::after {
        opacity: 0.3;
      }
    }

    .selected_b3f026.item_b3f026,
    .topPill-3DJJNV .selected_b3f026.item_b3f026 {
      background: none;

      .roleCircle__4f569::before,
      .roleCircle__4f569::after {
        opacity: 0.5 !important;
      }
    }
  }

  .contentWidth_c6bf1b {
    max-width: unset;

    .previewContainer__981c8 {
      border: none;

      .theme-light {
        display: none;
      }
      .messageContainer__981c8 {
        background-color: var(--background-secondary);
      }
    }
  }

  // Emoji
  .banner_ec75b3 {
    max-width: unset;
  }

  div.emojiRow_e7d73e {
    display: inline-grid;
    grid-template-areas:
      "image name"
      "uploader uploader";
    height: unset;
    box-shadow: none;
    row-gap: 32px;
    column-gap: 16px;
    margin: 0 8px 8px 0;
    background-color: var(--background-secondary);
    border-radius: 8px;
    overflow: hidden;

    &::before {
      top: -5px;
      height: calc(50% + 10px);
      background-color: var(--background-secondary-alt);
      border-radius: 0;
    }

    .emojiColumn_e7d73e {
      grid-area: image;

      .emojiImage_e7d73e {
        width: 40px;
        height: 40px;
      }
    }

    .column_e7d73e:nth-child(2) {
      grid-area: name;
      margin: 0;
    }

    .column_e7d73e:nth-child(3) {
      grid-area: uploader;
      margin-left: 0;
    }

    .emojiRemove_e7d73e {
      top: unset;
      bottom: -25px;
      right: 5px;
      opacity: 1;
      border-radius: 8px;
      transition: 200ms bottom;
    }

    &:hover .emojiRemove_e7d73e {
      bottom: 5px;
    }
  }

  .emojiAliasInput_e7d73e .emojiInput_e7d73e {
    background: var(--background-secondary);
  }
  .card_b846e5 {
    box-shadow: none;
    padding: 16px;

    &::before {
      left: 0;
      right: 0;
      background: var(--background-secondary);
      border-color: transparent;
      opacity: 1;
      margin: 5px 0;
    }
  }
  .inputWrapper-1YNMmM {
    width: unset;

    .input-2g-os5 {
      border: none;
    }
  }

  // Audit logs
  .headerClickable__43dab,
  .headerDefault__43dab,
  .headerExpanded__43dab {
    background: var(--background-secondary);
    border-radius: 8px;
  }
  .auditLog__43dab {
    border: none;

    .headerClickable__43dab {
      background-color: var(--background-secondary-alt);
      border-radius: 8px;
    }

    .headerExpanded__43dab {
      background-color: var(--background-secondary-alt);
      border-radius: 8px 8px 0 0;
    }

    .changeDetails__43dab {
      background-color: var(--background-secondary);
      border-radius: 0 0 8px 8px;
    }
    .divider-_0um2u {
      display: none;
    }
  }

  // Integrations
  .card_dc2e44,
  .header_eafb9c {
    border: none;
  }
  .body_eafb9c,
  .cardPrimaryEditable-2mz_3i {
    background: var(--background-secondary);
    border: none;
  }

  // Widget
  .copyInput_fffc15 {
    border: none;
  }

  // Overview
  .css-gvi9bl-control,
  .css-6fzn47-control {
    border: none;
  }
  .css-3vaxre-menu {
    background: var(--background-secondary-alt);
    border: none;
  }

  // Activate community modal
  .css-dwar6a-menu {
    background-color: var(--background-secondary-alt);
  }

  // Membership Screening
  .editableFieldsContainer-1p_q_4 {
    width: unset;
  }

  // Welcome screen
  .channelIcon-1eKmlw,
  .channelIcon__949ab {
    background: var(--background-secondary-alt);
  }
  .descriptionInput-3b30C8 {
    background: var(--background-secondary-alt);
    border: none;
  }

  // Server Boost Status
  .serverBoostTabItem_cbe0b4 > div {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .icon_cbe0b4 {
      margin-right: 8px;
    }
  }

  .tierBody_f15dca {
    background: var(--background-secondary);
  }
  .tierHeaderContent_f15dca,
  .tierInProgress_c44edb {
    background: var(--background-secondary-alt);
  }
  .background_c44edb {
    color: var(--background-secondary-alt);
  }
  .subscribers_f15dca .subscriberMask_f15dca {
    margin-right: 8px;
  }

  // Members
  .member-2cj2PI:nth-child(3) {
    margin-top: 10px;
  }
  .overflowRolesPopout__48c1c {
    background: var(--background-secondary);
  }
}
