:root {
  .avatar__44b0c, // dm/chatbar/member
  .avatar_c19a55, // messages
  .avatar__07f91, // channel list vc
  .avatar_f9d668, //settings
  .overlay__75742:after, //hover overlay
  .voiceAvatar_f910d0, // call
  .border_f910d0, // call (speaking)
  .avatarSpeaking__44b0c // chatbar pfp (speaking)
  {
    border-radius: var(--avatar-radius);
  }

  .mask__44b0c,
  .wrapper_cc5dd2, // dm call
  .callAvatarMask_f910d0 {
    foreignObject {
      mask: unset;
    }
  }

  //modals
  .horizontalReverse__7c0ba, //leave server bottom
  .option__66e7e, //server feedback buttons
  .footer__6c12c //feedback footer
  {
    background-color: var(--background-secondary);
  }

  //Tooltips
  .tooltip__382e7 {
    background-color: var(--background-secondary-alt);
  }

  //Topbar + weird corner of main area
  .title_c38106, .sidebar_c48ade {
    background-color: var(--background-tertiary);
  }
}
