.theme-darker,
.theme-dark,
.visual-refresh .theme-darker,
.visual-refresh.theme-darker,
.visual-refresh .theme-dark,
.visual-refresh.theme-dark {
  --background-primary: var(--comfy-primary, #23283d);
  --background-secondary: var(--comfy-secondary, #1e2233);
  --background-secondary-alt: var(--comfy-secondary-alt, #191f2e);
  --background-tertiary: var(--comfy-tertiary, #101320);
  --background-accent: var(--comfy-accent, #6e85d3);

  --modal-background: var(--background-primary);
  --background-mobile-primary: var(--background-primary);
  --background-mobile-secondary: var(--background-secondary);
  --channeltextarea-background: var(--background-secondary-alt);
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: var(--background-tertiary);
  --deprecated-quickswitcher-input-background: var(--background-tertiary);
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: #141925;
  --toast-background: var(--background-secondary) !important;
  --toast-header: var(--background-tertiary) !important;
  --toast-contents: var(--background-primary) !important;
  --activity-card-background: var(--background-tertiary);
  --input-background: var(--background-secondary);
}

.theme-light {
  --background-modifier-hover: #262b41;
  --background-modifier-active: #262b41;
  --header-primary: #fff;
  --header-secondary: #b1b5b9;
  --text-normal: #8e9297;
  --interactive-active: #fff;
  --interactive-hover: #b1b5b9;
  --input-background: var(--background-secondary-alt);
}
