.theme-darker,
.theme-dark,
.visual-refresh .theme-darker,
.visual-refresh.theme-darker,
.visual-refresh.theme-dark {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #6e85d3;

  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --toast-background: #1e2233 !important;
  --toast-header: #101320 !important;
  --toast-contents: #23283d !important;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}

.theme-light {
  --background-modifier-hover: #262b41;
  --background-modifier-active: #262b41;
  --header-primary: #fff;
  --header-secondary: #b1b5b9;
  --text-normal: #8e9297;
  --interactive-active: #fff;
  --interactive-hover: #b1b5b9;
  --input-background: var(--background-secondary-alt);
}
