:root {
  // main list
  .container__2637a {
    background-color: var(--background-secondary);
  }

  .sidebar_c48ade {
    overflow: visible; // show pfp
    max-height: 100vh;
  }

  //weird bar
  .sidebar_c48ade::after {
    all: unset;
  }

  // user area
  .panels_c48ade {
    z-index: 1;
    background: none;
    border: none;
    left: 0;
    bottom: 0;
    width: calc(100% - 72px);
    margin-left: 72px;
    background-color: var(--background-secondary);

    .container__37e49 {
      all: unset;

      .nameTag__37e49 {
        display: none;
      }
    }
  }

  //announcement channel "follow this channel"
  .wrapper__44df5 {
    background-color: var(--background-secondary);
  }
}
