:root {
  // main list
  .container__2637a {
    background-color: var(--background-secondary);
  }

  .sidebar__5e434 {
    overflow: visible; // show pfp
  }

  //weird bar
  .sidebar__5e434::after {
    all: unset;
  }

  // user area
  .panels__5e434 {
    z-index: 1;
    background: none;
    border: none;
    left: 0;
    bottom: 0;
    width: calc(100% - 72px);
    margin-left: 72px;
    background-color: var(--background-secondary);

    .container__37e49 {
      all: unset;

      .nameTag__37e49 {
        display: none;
      }
    }
  }

  //announcement channel "follow this channel"
  .wrapper__44df5 {
    background-color: var(--background-secondary);
  }

  // forum hover
  .popout_8514,
  .popout__76f04 {
    background-color: var(--background-secondary-alt);
  }

  // New unreads
  .bar__7aaec {
    background-color: var(--unread-color);
  }
  .mentionsBar__7aaec {
    background-color: var(--mention-color);
  }

  // home page selectors
  .interactive__972a0 {
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--background-secondary),
        white 5%
      );
    }

    &.interactiveSelected__972a0 {
      background: none;
      background-color: var(--background-tertiary);

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--background-tertiary),
          white 10%
        );
      }
    }
  }

  // DM list search bar
  .searchBar_e6b769 .button__201d5 {
    background-color: var(--background-primary);
  }

  // channel
  .containerDefault_c69b6d {
    // VC user limits
    .wrapper__260e1 {
      background-color: var(--background-primary);

      .users__260e1 {
        background-color: var(--background-secondary-alt);
      }

      .total__260e1 {
        background-color: var(--background-primary);
      }

      .total__260e1:after {
        border-right-color: var(--background-primary);
      }
    }
  }
}
