:root {
  // main list
  ._2637a2609f343032-container {
    background-color: var(--background-secondary);
  }

  ._5e434347c823b592-sidebar {
    overflow: visible; // show pfp
  }

  //weird bar
  ._5e434347c823b592-sidebar::after {
    all: unset;
  }

  // user area
  ._5e434347c823b592-panels {
    z-index: 1;
    background: none;
    border: none;
    left: 0;
    bottom: 0;
    width: calc(100% - 72px);
    margin-left: 72px;
    background-color: var(--background-secondary);

    ._37e49614b9f110a9-container {
      all: unset;

      ._37e49614b9f110a9-nameTag {
        display: none;
      }
    }
  }

  //announcement channel "follow this channel"
  ._44df51b030bd5ece-wrapper {
    background-color: var(--background-secondary);
  }

  // forum hover
  .popout_8514,
  ._76f047ded9fef6d4-popout {
    background-color: var(--background-secondary-alt);
  }

  // New unreads
  ._7aaec78b97ff00f7-bar {
    background-color: var(--unread-color);
  }
  ._7aaec78b97ff00f7-mentionsBar {
    background-color: var(--mention-color);
  }

  // home page selectors
  ._972a0d22c8afa7f0-interactive {
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--background-secondary),
        white 5%
      );
    }

    &._972a0d22c8afa7f0-interactiveSelected {
      background: none;
      background-color: var(--background-tertiary);

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--background-tertiary),
          white 10%
        );
      }
    }
  }

  // DM list search bar
  .e6b7699ce8339e1c-searchBar ._201d5e8a3c09670a-button {
    background-color: var(--background-primary);
  }

  // channel
  .c69b6db0641110f6-containerDefault {
    // VC user limits
    ._260e1982cd52c5c3-wrapper {
      background-color: var(--background-primary);

      ._260e1982cd52c5c3-users {
        background-color: var(--background-secondary-alt);
      }

      ._260e1982cd52c5c3-total {
        background-color: var(--background-primary);
      }

      ._260e1982cd52c5c3-total:after {
        border-right-color: var(--background-primary);
      }
    }
  }
}
