:root {
  // main list
  .container__2637a {
    background-color: var(--background-secondary);
  }

  .sidebar_c48ade {
    overflow: visible; // show pfp
  }

  //weird bar
  .sidebar_c48ade::after {
    all: unset;
  }

  // user area
  .panels_c48ade {
    z-index: 1;
    background: none;
    border: none;
    left: 0;
    bottom: 0;
    width: calc(100% - 72px);
    margin-left: 72px;
    background-color: var(--background-secondary);

    .container__37e49 {
      all: unset;

      .nameTag__37e49 {
        display: none;
      }
    }
  }

  //announcement channel "follow this channel"
  .wrapper__44df5 {
    background-color: var(--background-secondary);
  }

  // forum hover
  .popout_8514,
  .popout__76f04 {
    background-color: var(--background-secondary-alt);
  }

  // New unreads
  .bar__7aaec {
    background-color: var(--unread-color);
  }
  .mentionsBar__7aaec {
    background-color: var(--mention-color);
  }

  // DMs
  .interactiveSelected__972a0 {
    background: none;
    background-color: var(--background-secondary-alt);
  }

  .interactiveSelected__972a0 {
    background: none;
    background-color: var(--background-secondary-alt);
  }

  .interactiveSelected__972a0:hover {
    background-color: color-mix(
      in srgb,
      var(--background-secondary-alt) 10%,
      var(--background-secondary)
    );
  }

  .interactive__972a0:hover {
    background-color: color-mix(
      in srgb,
      var(--background-secondary) 10%,
      var(--background-primary)
    );
  }

  // DM search bar
  .searchBar__35e86 .button__201d5 {
    background-color: var(--background-primary);
  }

  // VC user limits info
  .channelInfo_c69b6d .wrapper__260e1 {
    background-color: var(--background-primary);

    .users__260e1 {
      background-color: var(--background-secondary-alt);
    }

    .total__260e1 {
      background-color: var(--background-primary);
    }

    .total__260e1:after {
      border-right-color: var(--background-primary);
    }
  }
}
