:root {
  // chat section
  .chatContent_f75fb0 {
    background-color: var(--background-primary);

    // message area
    .form_f75fb0 {
      z-index: 2;
      width: calc(100% - 66px);
      margin-left: auto;

      // bar
      .channelTextArea_f75fb0, // weird background thing
      .scrollableContainer__74017 {
        background-color: var(--background-secondary-alt);
      }

      // chat buttons
      .buttons__74017,
      .attachButtonInner__0923f {
        svg {
          color: var(--chat-buttons);
        }
      }
    }

    // skeleton
    .wrapper_d852db,
    .wrapper_fc8177 {
      background-color: inherit;
    }
  }
  // title bar
  .title_f75fb0 {
    background-color: var(--background-secondary);
  }

  // fourm
  .container_f369db {
    background-color: var(--background-primary);

    // create post
    .headerRow_f369db .header_f369db {
      background-color: var(--background-secondary-alt);
    }

    // card
    .card_f369db .container_faa96b {
      background-color: var(--background-secondary);
    }
  }

  // user area
  .panels_c48ade {
    z-index: 1;
    background: none;
    border: none;
    left: 100%;
    bottom: 31.53px;

    .nameTag__37e49 {
      display: none;
    }
    // pfp
    .avatarWrapper__37e49 .avatar__37e49 {
      position: absolute;
      left: 11px;
      z-index: 1;
      margin: 0;
      padding: 0;
    }
  }
}
