:root {
  // title bar
  .f75fb00fb7356cbe-title,
  .c791b281f2fedc32-header,
  ._9293f6b2fc12398a-container {
    background-color: var(--background-secondary);

    ._9293f6b2fc12398a-children::after {
      content: none;
    }
  }

  // chat section
  .f75fb00fb7356cbe-chatContent {
    background-color: var(--background-primary);

    // skeleton
    ._0d1eff984b8fd277-wrapper,
    .fc817765600a960a-wrapper {
      background-color: inherit;
    }

    // message area
    .f75fb00fb7356cbe-form {
      z-index: 2;
      width: calc(100% - 66px);
      margin-left: auto;

      // bar
      .f75fb00fb7356cbe-channelTextArea, // weird background thing
      ._740174f3d6a2c8fe-scrollableContainer,
      ._740174f3d6a2c8fe-stackedBars,
      .b77158512e0ab116-channelAttachmentArea {
        //reply bar
        background-color: var(--background-secondary-alt);
      }

      .aa605f19898fe32e-upload,
      ._299eb87491f4b6d1-spoilerInnerContainer {
        background-color: var(--background-primary);
      }

      // chatbar buttons
      ._740174f3d6a2c8fe-buttons,
      ._0923f156a0410684-attachButtonInner {
        svg {
          color: var(--chat-buttons);
        }
      }
    }
    // quick action buttons
    .f7ecaca5c80dbf3a-wrapper {
      background-color: var(--background-secondary);
    }

    // autocomplete
    .d1405bf11dcfb07a-categoryHeader,
    ._13533e3c5791980f-autocompleteInner {
      background-color: var(--background-secondary);
    }

    // role chips
    .b4b2c318c99fc487-role {
      background-color: color-mix(
        in srgb,
        var(--custom-role-label-color),
        var(--background-primary) 90%
      );
    }
  }

  // unread
  ._0f481cbbd7530492-newMessagesBar {
    background-color: var(--unread-color);
  }

  // in chat message divider
  #---new-messages-bar {
    --divider-color: var(--unread-divider-color, var(--unread-color));
  }

  // fourm
  .f369dba7416c67f0-container {
    background-color: var(--background-primary);

    // create post
    .f369dba7416c67f0-headerRow .f369dba7416c67f0-header {
      background-color: var(--background-secondary-alt);
    }

    // card
    .f369dba7416c67f0-card .faa96b2163f6a142-container {
      background-color: var(--background-secondary);
    }
  }

  //Forum post response bar
  ._34c2c51cfce1632e-container {
    background-color: var(--background-secondary);
  }

  //Forum resize handle
  ._01ae244280823725-resizeHandle {
    background-color: var(--background-secondary-alt);
  }

  // user area pfp
  ._5e434347c823b592-panels ._37e49614b9f110a9-avatarWrapper ._37e49614b9f110a9-avatar {
    display: none;
    position: absolute;
    left: calc(100% + 10px);
    bottom: 25px;
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  // edit message
  ._740174f3d6a2c8fe-scrollableContainer {
    background-color: var(--background-secondary);
  }

  // hide pfp unless text box
  :has(.f75fb00fb7356cbe-form) ._37e49614b9f110a9-avatarWrapper ._37e49614b9f110a9-avatar {
    display: block;
  }

  // Invite
  .d5f3cd116f175f35-wrapper {
    background-color: var(--background-secondary);
  }

  // Embeds
  ._623de82e76ad7f82-embed {
    background-color: var(--background-secondary);
    border-left-color: var(--background-secondary-alt);
  }

  //Right click menu
  .c1e9c47c23f12ca3-menu {
    background-color: var(--background-secondary);
  }

  //vc
  .cb9592ad77576717-callContainer {
    ._1405b3b8e8eb5fd0-buttonSection {
      background-color: var(--background-tertiary);
    }
    .regionSelectPopout__8de63 {
      background-color: var(--background-secondary);
    }
  }

  //emoji info
  ._0f481cbbd7530492-popoutContainer {
    background-color: var(--background-secondary-alt);
  }

  //integrations
  .dc2e447a66129ac2-card._730694f5672c9601-card {
    background-color: var(--background-secondary);
  }

  // Pinned messages
  .e8b59c4b335dd2fc-messagesPopoutWrap {
    background-color: var(--background-secondary);

    .e8b59c4b335dd2fc-header {
      background-color: var(--background-tertiary);
    }

    .e8b59c4b335dd2fc-footer {
      background-color: var(--background-secondary-alt);
    }

    .e8b59c4b335dd2fc-messageGroupWrapper {
      background-color: var(--background-primary);
    }
  }

  // bookmarks
  ._4ad6936dd30096b3-popoutContainer {
    background-color: var(--background-secondary);

    .e8b59c4b335dd2fc-header {
      background-color: var(--background-tertiary);
    }
  }

  // Threads
  .d9c8822889d1d4a1-container {
    background-color: var(--background-secondary);

    .d9c8822889d1d4a1-header {
      background-color: var(--background-tertiary);
    }

    // Thread
    ._6764bd76e0340219-container {
      background-color: var(--background-primary);
    }
  }

  // React to post
  #emoji-picker-tab-panel {
    background-color: var(--background-primary);

    .c0e32c5cffed3d9f-header {
      background-color: var(--background-secondary-alt);
    }

    .c0e32c5cffed3d9f-emojiPicker {
      background-color: var(--background-primary);

      .c656aca9a3db31a9-header {
        background-color: var(--background-primary);
      }

      .c0e32c5cffed3d9f-inspector {
        background-color: var(--background-secondary-alt);
      }
    }

    .c0e32c5cffed3d9f-categoryList {
      background-color: var(--background-secondary-alt);
    }
  }

  ._0f481cbbd7530492-jumpToPresentBar {
    background-color: var(--background-secondary-alt);
  }

  // mention message
  ._5126c0cd07f243a0-mentioned {
    background-color: var(
      --mention-color-background,
      color-mix(in srgb, var(--mention-color), var(--background-primary) 90%)
    );

    &:hover {
      background-color: var(
        --mention-color-hover,
        color-mix(in srgb, var(--mention-color), var(--background-primary) 95%)
      );
    }

    &::before {
      background-color: var(--mention-color-bar, var(--mention-color));
    }
  }

  // application launcher
  ._9c62c6ed231468c4-contentWrapper {
    background-color: var(--background-secondary);

    .cb32c78a53f54371-container,
    ._761e57435cf1c50a-clickable {
      background-color: var(--background-secondary-alt);
    }
  }

  // TODO: check classes
  // Search bar
  ._496769951eb140fe-search {
    order: 1;
    margin-left: 4px;
    ._974928fe84ca9647-searchBar {
      border: none;
    }

    ._974928fe84ca9647-search:not(._974928fe84ca9647-open) {
      ._974928fe84ca9647-searchBar {
        width: 27px;
        transition: 250ms;
        background-color: transparent;

        .iconContainer_fea832 {
          transform: scale(1.3);
          transition: 250ms;

          .icon_fea832 {
            color: var(--interactive-normal);
          }
        }
      }

      &:hover ._974928fe84ca9647-searchBar {
        width: 220px;
        background-color: var(--background-tertiary);

        .iconContainer_fea832 {
          transform: scale(1);

          .icon_fea832 {
            color: var(--text-muted);
          }
        }
      }
    }
  }

  // Search results
  .a9e7064fdee8e9b0-searchResultsWrap {
    background-color: var(--background-secondary);

    ._02a39cb2980ceaaf-searchResult {
      background-color: var(--background-primary);
    }
  }

  // Chat messages Divider (Dates etc)
  ._908e20001ad67812-content {
    background-color: var(--background-primary);
  }
}
