:root {
  // title bar
  .title_f75fb0,
  .header_c791b2,
  .container__9293f {
    background-color: var(--background-secondary);

    .children__9293f::after {
      content: none;
    }
  }

  // chat section
  .chatContent_f75fb0 {
    background-color: var(--background-primary);

    // skeleton
    .wrapper_cdf8a9,
    .wrapper_fc8177 {
      background-color: inherit;
    }

    // message area
    .form_f75fb0 {
      z-index: 2;
      width: calc(100% - 66px);
      margin-left: auto;

      // bar
      .channelTextArea_f75fb0, // weird background thing
      .scrollableContainer__74017,
      .stackedBars__74017,
      .channelAttachmentArea_b77158 {
        //reply bar
        background-color: var(--background-secondary-alt);
      }

      .upload_aa605f,
      .spoilerInnerContainer__299eb {
        background-color: var(--background-primary);
      }

      // chatbar buttons
      .buttons__74017,
      .attachButtonInner__0923f {
        svg {
          color: var(--chat-buttons);
        }
      }
    }
    // quick action buttons
    .wrapper_f7ecac {
      background-color: var(--background-secondary);
    }

    // autocomplete
    .categoryHeader_d1405b,
    .autocompleteInner__13533 {
      background-color: var(--background-secondary);
    }

    // role chips
    .role_b4b2c3 {
      background-color: color-mix(
        in srgb,
        var(--custom-role-label-color),
        var(--background-primary) 90%
      );
    }
  }

  // unread
  .newMessagesBar__0f481 {
    background-color: var(--unread-color);
  }

  // in chat message divider
  #---new-messages-bar {
    --divider-color: var(--unread-divider-color, var(--unread-color));
  }

  // fourm
  .container_f369db {
    background-color: var(--background-primary);

    // create post
    .headerRow_f369db .header_f369db {
      background-color: var(--background-secondary-alt);
    }

    // card
    .card_f369db .container_faa96b {
      background-color: var(--background-secondary);
    }
  }

  //Forum post response bar
  .container__34c2c {
    background-color: var(--background-secondary);
  }

  //Forum resize handle
  .resizeHandle__01ae2 {
    background-color: var(--background-secondary-alt);
  }

  // user area pfp
  .panels__5e434 .avatarWrapper__37e49 .avatar__37e49 {
    display: none;
    position: absolute;
    left: calc(100% + 10px);
    bottom: 25px;
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  // edit message
  .scrollableContainer__74017 {
    background-color: var(--background-secondary);
  }

  // hide pfp unless text box
  :has(.form_f75fb0) .avatarWrapper__37e49 .avatar__37e49 {
    display: block;
  }

  // Invite
  .wrapper_d5f3cd {
    background-color: var(--background-secondary);
  }

  // Embeds
  .embed__623de {
    background-color: var(--background-secondary);
    border-left-color: var(--background-secondary-alt);
  }

  //Right click menu
  .menu_c1e9c4 {
    background-color: var(--background-secondary);
  }

  //vc
  .callContainer_cb9592 {
    .buttonSection__1405b {
      background-color: var(--background-tertiary);
    }
    .regionSelectPopout__8de63 {
      background-color: var(--background-secondary);
    }
  }

  //emoji info
  .popoutContainer__0f481 {
    background-color: var(--background-secondary-alt);
  }

  //integrations
  .card_dc2e44.card__73069 {
    background-color: var(--background-secondary);
  }

  // Pinned messages
  .messagesPopoutWrap_e8b59c {
    background-color: var(--background-secondary);

    .header_e8b59c {
      background-color: var(--background-tertiary);
    }

    .footer_e8b59c {
      background-color: var(--background-secondary-alt);
    }

    .messageGroupWrapper_e8b59c {
      background-color: var(--background-primary);
    }
  }

  // bookmarks
  .popoutContainer__4ad69 {
    background-color: var(--background-secondary);

    .header_e8b59c {
      background-color: var(--background-tertiary);
    }
  }

  // Threads
  .container_d9c882 {
    background-color: var(--background-secondary);

    .header_d9c882 {
      background-color: var(--background-tertiary);
    }

    // Thread
    .container__6764b {
      background-color: var(--background-primary);
    }
  }

  // React to post
  #emoji-picker-tab-panel {
    background-color: var(--background-primary);

    .header_c0e32c {
      background-color: var(--background-secondary-alt);
    }

    .emojiPicker_c0e32c {
      background-color: var(--background-primary);

      .header_c656ac {
        background-color: var(--background-primary);
      }

      .inspector_c0e32c {
        background-color: var(--background-secondary-alt);
      }
    }

    .categoryList_c0e32c {
      background-color: var(--background-secondary-alt);
    }
  }

  .jumpToPresentBar__0f481 {
    background-color: var(--background-secondary-alt);
  }

  // mention message
  .mentioned__5126c {
    background-color: var(
      --mention-color-background,
      color-mix(in srgb, var(--mention-color), var(--background-primary) 90%)
    );

    &:hover {
      background-color: var(
        --mention-color-hover,
        color-mix(in srgb, var(--mention-color), var(--background-primary) 95%)
      );
    }

    &::before {
      background-color: var(--mention-color-bar, var(--mention-color));
    }
  }

  // application launcher
  .contentWrapper__9c62c {
    background-color: var(--background-secondary);

    .container_cb32c7,
    .clickable__761e5 {
      background-color: var(--background-secondary-alt);
    }
  }

  // TODO: check classes
  // Search bar
  .search__49676 {
    order: 1;
    margin-left: 4px;
    .searchBar__97492 {
      border: none;
    }

    .search__97492:not(.open__97492) {
      .searchBar__97492 {
        width: 27px;
        transition: 250ms;
        background-color: transparent;

        .iconContainer_fea832 {
          transform: scale(1.3);
          transition: 250ms;

          .icon_fea832 {
            color: var(--interactive-normal);
          }
        }
      }

      &:hover .searchBar__97492 {
        width: 220px;
        background-color: var(--background-tertiary);

        .iconContainer_fea832 {
          transform: scale(1);

          .icon_fea832 {
            color: var(--text-muted);
          }
        }
      }
    }
  }

  // Search results
  .searchResultsWrap_a9e706 {
    background-color: var(--background-secondary);

    .searchResult__02a39 {
      background-color: var(--background-primary);
    }
  }

  // Chat messages Divider (Dates etc)
  .content__908e2 {
    background-color: var(--background-primary);
  }
}
