:root {
  // main section
  ._133bf5eea8e33a34-tabBody {
    background-color: var(--background-primary);
  }

  // active (left) section
  ._7d20cf18f8a2784c-container {
    background-color: var(--background-secondary);
  }

  // dms
  .e6b7699ce8339e1c-privateChannels {
    background-color: var(--background-secondary);
  }
  ._99e7cad8d4c55236-scroller {
    background-color: inherit;
  }

  // active now (right) section
  ._7e549558f336cddb-itemCard {
    background-color: var(--background-secondary-alt);

    &:hover {
      background-color: var(--background-tertiary) !important;
    }

    // Inner container
    ._00943886e1cf89d1-section {
      background-color: var(--background-primary);
    }
  }
}
