:root {
  // main section
  .tabBody__133bf {
    background-color: var(--background-primary);
  }

  // active (left) section
  .container__7d20c {
    background-color: var(--background-secondary);
  }

  // dms
  .privateChannels__35e86 {
    background-color: var(--background-secondary);
  }
  .scroller__99e7c {
    background-color: inherit;
  }

  // active now (right) section
  .itemCard__7e549 {
    background-color: var(--background-secondary-alt);

    // Inner container
    .section__00943 {
      background-color: var(--background-primary);
    }
  }
}
