:root {
  .c8ffbb79449f399c-members {
    background-color: var(--background-secondary);

    ._5d473ecff348c314-member:not(.wrapperPlated__91a9d) {
      background-color: var(--background-secondary);
    }

    // Activity
    ._0f2e83213c878a13-container {
      background-color: var(--background-secondary-alt);
    }

    ._5d473ecff348c314-clanTag {
      background-color: color-mix(
        in srgb,
        var(--background-primary),
        #ffffff 10%
      );
    }
  }
}
