:root {
  .members_c8ffbb {
    background-color: var(--background-secondary);

    .member__5d473:not(.wrapperPlated__91a9d) {
      background-color: var(--background-secondary);
    }

    // Activity
    .container__0f2e8 {
      background-color: var(--background-secondary-alt);
    }

    .clanTag__5d473 {
      background-color: color-mix(
        in srgb,
        var(--background-primary),
        #ffffff 10%
      );
    }
  }
}
