:root {
  // behind pfp
  .mask__68edb > mask {
    display: none;
  }

  .inner_c0bea0 {
    background-color: var(--background-primary);
  }

  .inner_ab8609, //add status
  .outer_ab8609 //add status bubbles
  {
    background-color: var(--background-secondary);
  }
}
