:root {
  // behind pfp
  ._68edb95846a37624-mask > mask {
    display: none;
  }

  // profile
  .c0bea05627c5dc35-outer {
    overflow: visible;

    .c0bea05627c5dc35-inner {
      background-color: var(--background-primary);
    }

    .ab86098b36386ff7-inner, //add status
  .ab86098b36386ff7-outer //add status bubbles
    {
      background-color: var(--background-secondary);
    }

    // actions
    ._0d1eff984b8fd277-wrapper {
      top: -16px;
      margin: 1px 6px;
      transform: scale(0.9);
      right: 6px;

      button {
        background-color: var(--profile-gradient-primary-color);
        border-radius: 8px;
      }
    }
  }

  // sections
  .c0bea05627c5dc35-overlay {
    background-color: var(--background-secondary-alt);
  }
}
