$serverListWidth: 72px;

:root {
  .guilds_c48ade {
    background-color: var(--background-tertiary);

    .listItem__650eb {
      .icon__6e9f8, // server icon
      .folderIconWrapper__48112, // folders
      .childWrapper__6e9f8 // home button
      {
        border-radius: var(--server-radius);
      }

      .closedFolderIconWrapper__48112 .icon_f34534 {
        border-radius: var(--server-radius) !important;
      }
    }
  }

  // user area buttons
  .buttons__37e49 {
    position: fixed;
    width: $serverListWidth;
    background: var(--background-tertiary);

    display: flex;
    flex-direction: column;

    left: 0;
    bottom: 0;
    gap: var(--user-buttons-spacing);

    & button {
      width: 100%;
      color: var(--user-buttons-color);
      margin: 0;
    }
  }
}
