$serverListWidth: 72px;

:root {
  --button-count: 3;
  //height*count + bottom padding
  --buttons-height: calc(
    (32px * var(--button-count)) +
      (var(--user-buttons-spacing) * var(--button-count))
  );

  &:has(._37e49614b9f110a9-container ._37e49614b9f110a9-buttons button:nth-child(4)) {
    --button-count: 4;
  }

  ._5e434347c823b592-guilds {
    background-color: var(--background-tertiary);
    // user-buttons-spacing * button-count
    margin-bottom: var(--buttons-height);

    ._650eb104245d257b-listItem {
      ._6e9f8dce4cc18de3-icon, // server icon
      ._48112cbe77dc5022-folderPreviewWrapper, // folders
      ._6e9f8dce4cc18de3-childWrapper, // home button
      ._5bc7ed9d4097f6b5-circleIconButton  // discover & add server
      {
        border-radius: var(--server-radius);
      }

      ._48112cbe77dc5022-folderPreview .f34534e8a5d3ca64-icon {
        border-radius: var(--server-radius) !important;
      }
    }
  }

  // user area buttons
  ._37e49614b9f110a9-buttons {
    z-index: 2;
    position: fixed;
    background: linear-gradient(transparent, var(--background-tertiary) 15%);
    padding: 20px 0 10px 0;

    width: $serverListWidth;

    display: flex;
    flex-direction: column;

    left: 0;
    bottom: 0;
    gap: var(--user-buttons-spacing);

    button:not(._37e49614b9f110a9-buttonChevron) {
      width: 100%;
      color: var(--user-buttons-color);
      margin: 0;
    }

    button._37e49614b9f110a9-buttonChevron {
      color: var(--user-buttons-color);
      position: absolute;
      right: 0;

      &:hover {
        background-color: var(--button-secondary-background-hover);
        color: var(--interactive-hover);
      }
    }
  }

  // unread pill
  .cc5dd25190031396-lowerBadge {
    z-index: 1;
  }
  // unread
  .ef3116c2da186559-unreadMentionsIndicatorBottom {
    width: $serverListWidth;
    padding: 0;

    ._3b95d7d910416e54-bar {
      width: inherit;
      background-color: var(--mention-color);
    }
  }
}
