$serverListWidth: 72px;

:root {
  --button-count: 3;
  //height*count + bottom padding
  --buttons-height: calc(
    (32px * var(--button-count)) +
      (var(--user-buttons-spacing) * var(--button-count))
  );

  &:has(.container__37e49 .buttons__37e49 button:nth-child(4)) {
    --button-count: 4;
  }

  .guilds__5e434 {
    background-color: var(--background-tertiary);
    // user-buttons-spacing * button-count
    margin-bottom: var(--buttons-height);

    .listItem__650eb {
      .icon__6e9f8, // server icon
      .folderPreviewWrapper__48112, // folders
      .childWrapper__6e9f8, // home button
      .circleIconButton__5bc7e  // discover & add server
      {
        border-radius: var(--server-radius);
      }

      .folderPreview__48112 .icon_f34534 {
        border-radius: var(--server-radius) !important;
      }
    }
  }

  // user area buttons
  .buttons__37e49 {
    z-index: 2;
    position: fixed;
    background: linear-gradient(transparent, var(--background-tertiary) 15%);
    padding: 20px 0 10px 0;

    width: $serverListWidth;

    display: flex;
    flex-direction: column;

    left: 0;
    bottom: 0;
    gap: var(--user-buttons-spacing);

    button:not(.buttonChevron__37e49) {
      width: 100%;
      color: var(--user-buttons-color);
      margin: 0;
    }

    button.buttonChevron__37e49 {
      color: var(--user-buttons-color);
      position: absolute;
      right: 0;

      &:hover {
        background-color: var(--button-secondary-background-hover);
        color: var(--interactive-hover);
      }
    }
  }

  // unread pill
  .lowerBadge_cc5dd2 {
    z-index: 1;
  }
  // unread
  .unreadMentionsIndicatorBottom_ef3116 {
    width: $serverListWidth;
    padding: 0;

    .bar__3b95d {
      width: inherit;
      background-color: var(--mention-color);
    }
  }
}
