:root {
  //main settings area
  ._23e6b439306f125a-contentRegion,
  ._23e6b439306f125a-contentRegionScroller {
    background-color: var(--background-primary);
  }

  ._23e6b439306f125a-sidebarRegionScroller, //sidebar
  ._730694f5672c9601-cardPrimary, //Account standing
  .vc-addon-card, //vencord plugins
  .f8c98cc3d7c1bc42-box, //family centre
  ._50a5493e9d9cc496-authedAppV2, //authorized apps
  .connectContainer_c7f964, // connections page header
  .c7f964e7e0fc8b47-connection //individual apps
  {
    background-color: var(--background-secondary);
  }

  .c7f964e7e0fc8b47-connectionHeader, //connections header
  ._50a5493e9d9cc496-headerV2 {
    background-color: var(--background-secondary-alt);
  }

  // Toggles
  ._3f21e80f8677ec40-container {
    background-color: color-mix(
      in srgb,
      var(--background-primary),
      white 10%
    ) !important;

    &._3f21e80f8677ec40-checked {
      background-color: var(--background-accent) !important;
    }
  }
}
