:root {
  .a2f5142ba8328dfd-container {
    background-color: var(--background-primary);

    .a2f5142ba8328dfd-content {
      position: relative;

      .a2f5142ba8328dfd-ready {
        display: none;

        & + .a2f5142ba8328dfd-text {
          top: 82px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 20px;
        left: calc(50% - 100px);
        width: 200px;
        height: 200px;
        background: url("https://comfy-themes.github.io/Discord/assets/bonfire.gif")
          center/80% no-repeat;
      }
    }
  }
}
